[2016-03-29 11:57] developer-rakeshpaul opened #1 "Test cases failing"
Hi Will,

Just wanted to bring your attention to test cases failing for the encoders utilizing patsy dmatrix. This was basically due to the fact that the test data frame had a column 'C' which is also the patsy way of denoting that you want a categorical variable. By renaming the column to something like C1 all the test passed.

Kind Regards,
Rakesh

[code]

[2016-03-29 13:01] wdm0006 commented on #1
Thanks for the heads up Rakesh, do you want to submit a pull request with that change? If not, I'll make the changes later today.

[2016-03-29 14:04] developer-rakeshpaul commented on #1
Sure Will I will submit the pull request now

[2016-04-03 01:37] yzard opened #3 "Binary Encoding problem"
Hi, there, first time using this binary encoding method, but I think there is a bug:

- When encoding a column contained 3 possible categories, it encodes as 1 columns
- When encoding a column contained 5 possible categories, it encodes as 2 columns
- same thing you can find in 9 possible categories, only encoded as 3 columns
- Also when encoding a column contained only 2 possible categories, it r

[2016-04-03 18:58] wdm0006 commented on #3
Thanks for opening up an issue, it looks like you're right, I think there is an off-by-one error in line 37 of binary.py, so we are ending up with one too few columns.

If you're interested in trying to do a fix and adding a test for this case into the test suite I'd be happy to help you out and merge it in, otherwise I'll fix it and cut a new release this week.

[2016-04-03 20:08] yzard commented on #3
Hi, Will,

I'm currently working on a pretty big project, kind lack of time to do that, you can fix it and release it this time, If I found some other bugs and have time, I will try to contribute this.

Regards,
Zhuo Yin

[2016-04-03 20:09] wdm0006 commented on #3
No worries, I'll ping you when it's released. Thanks again

[2016-04-05 01:47] #3 closed

[2016-04-05 01:48] #1 closed

[2016-04-16 07:27] pGit1 opened #4 "Drop Original Feature when Encoding"
Can we set an option to drop the original feature feat_0 for the numeric encoders?

See this code below:

import category_encoders
import pandas as pd
import numpy as np

dd = {'feat1':['a','b','c','d','e'],'feat2':np.random.random(size=(5))}
df = pd.DataFrame(dd)
encoder = category_encoders.BackwardDifferenceEncoder(cols=['feat1'])
encoder.fit_transform(df)

this returns feat_0 as the first feaur

[2016-04-16 15:09] wdm0006 commented on #4
Thats a good idea.  I use the [Statsmodels Contrasts](http://statsmodels.sourceforge.net/devel/contrasts.html) functionality as closely as possible, and using your snippet modified to use different numbers of categories (up to 1000), it does seem that feat_0 has no obvious use.

I think rather than adding an option specific to this particular case (index 0 feature after backwards difference), addi

[2016-04-16 17:37] pGit1 commented on #4
Thanks for the prompt response Will! First ,I think the "drop invariant" idea you propose would be ideal actually. Since I last messaged you I came with this work around code, so not having the option right now is not hurting. See my example adding to my code from the earlier post:

dd = {'feat1':['a','b','c','d','e'],'feat2':np.random.random(size=(5))}
df = pd.DataFrame(dd)
encoder = category_enc

[2016-04-16 18:00] wdm0006 commented on #4
I'd be happy to help you out along the way, we can do it in a simple way.

In the transform methods of all of these encoders, we make sure that the X variable is always a dataframe, so you can use pandas tools before returning anything to drop low variance cols:

    df = df.loc[:, df.var()>some_threshold]

So if you just add a parameter to the class for something like 'drop_invariant' as true or

[2016-04-16 18:14] pGit1 commented on #4
This:

actually makes A LOT of sense.

What I am scratching my head on is A) How to add the parameter to the Class (or any class for that matter--Classes confuse the crap out of me) and B) How this whole "pull request" thing actually works even if I were able to add the parameter.

Im such a newbie. I'll do my best though and try and send the pull request as soon as I can!

[2016-04-16 18:27] wdm0006 commented on #4
Github's docs on pull requests are pretty good: https://help.github.com/articles/using-pull-requests/, if you have trouble just let me know.

As for parameters, look at cols/self.cols in BackwardDifferenceEncoder, that is an example of one.  So you can add another one called 'drop_invariant' defaulting to false in line 49, set it to be an instance variable (i.e. self.x) in line 58ish, then use it

[2016-04-16 18:28] wdm0006 commented on #4
Here is a pretty good overview on classes and OOP in general in python: https://jeffknupp.com/blog/2014/06/18/improve-your-python-python-classes-and-object-oriented-programming/

[2016-04-16 18:31] pGit1 commented on #4
Thanks for the resources Will. I'll definitely give it a go as soon as I can!

[2016-04-16 18:39] pGit1 commented on #4
As a side, for BackDiff,Sum,Polynomial, and Helmert encoder should the dependent variable (y) be specified in the `.fit()` call since the docs state the comparisons are made based on the dependent variable at different levels of the categorical?

So something like this `new_df =BackDifferenceEncoder(cols=['feat1']).fit_transform(df,y) `. What is interesting is that even if the code above is run wi

[2016-04-16 18:45] wdm0006 commented on #4
My understanding is that the regression of the dependent variable against the encoded matrix is the comparison of the dependent against the different levels of the categorical.  So to match the context of the statsmodels docs, we would be using the category encoders in this library as preprocessing before running an OLS regression or something like that on the now-encoded X and y.

So they'll use:

[2016-04-16 18:58] pGit1 commented on #4
Ah, ok makes perfect sense. Thanks for all your help!

[2016-04-16 19:38] wdm0006 opened #5 "Transformers always return pandas dataframes"
All of the transformers in this library use pandas dataframes internally, but will accept either numpy arrays or pandas dataframes as inputs.  They all return dataframes though.  For use in pipelines it may be helpful to optionally return a numpy array (df.values) instead of a dataframe.

If anyone would like to get into contributing, this would be a good starter issue, comment here if you're inte

[2016-04-16 20:09] barnettjacob commented on #5
I'd love to get involved! Is this a case of offering an argument for each method and returning a df or array depending on the option selected?

[2016-04-16 20:10] wdm0006 commented on #5
You got it! I think it makes sense to default to data frame if nothing is passed but am open to any reasons to do the opposite.

[2016-04-16 20:25] barnettjacob commented on #5
Ok, I'll have a look at it later create a PR.

[2016-04-16 21:38] wdm0006 commented on #5
Awesome, thank you for the help.

[2016-04-19 10:55] barnettjacob commented on #5
Will, apologies! I just haven't had time to look at this and I'm going to be away for the next 10 days. I'll be happy to pick it up on my return if it hasn't been tackled.
Jacob

[2016-04-19 18:37] wdm0006 commented on #5
No rush, if someone else wants to work on this in the meantime then there will be plenty of other ways to help out in a couple of weeks, and if not, then it'll be here for you when you're back.

Safe travels.

[2016-04-19 22:06] barnettjacob commented on #5
Thanks Will!

[2016-05-15 19:51] wdm0006 commented on #5
@barnettjacob just checking in, are you still planning to work on this?

[2016-05-15 19:51] wdm0006 commented on #4
@pGit1 just checking in, are you still planning to work on this?

[2016-05-15 22:31] wdm0006 opened #6 "Optionally inspect input data to infer cols"
In many cases the only things being encoded are non-numeric columns (of course sometimes integer columns are categorical too, but that's a separate case). If would be nice to be able to pass convert_strings=True instead of columns, and then in the fit() model iterate through the input dataframe and set cols to be all those with the pandas type: object.

[2016-05-17 11:44] barnettjacob commented on #5
Hi Will, apologies for the radio silence. Yes, I am hoping to spend some time on this in the next week.
Cheers,
Jacob

[2016-05-19 18:43] #4 closed

[2016-06-03 16:46] barnettjacob commented on #5
Hi Will, just a quick note to apologise that I haven't been able to find the time to look at this - I've got a lot on and realistically I'm going to struggle to work on it in the near future. Sorry!

I'll circle back when things are a bit quieter and see what I can pick up.
Cheers
Jacob

[2016-06-03 21:49] wdm0006 commented on #5
Jacob, I totally get that, glad you've found some usefulness in the library, if you do get to a point where you'd like to contribute some code, you know where to find us.

[2016-06-12 13:49] wdm0006 commented on #6
Fixed, now just pass None to cols and only columns with the pandas type 'object' will be encoded.

[2016-06-12 13:49] #6 closed

[2016-06-12 15:52] #5 closed

[2016-06-18 19:38] wdm0006 opened #7 "Hashing encoder breaks on NaNs"
Hashing encoder fails if a NaN is there, it tries to hash the None which doesn't fly.

[2016-07-18 23:39] #7 closed

[2016-07-24 20:48] wdm0006 opened #9 "Switch to numpy style docstrings"
In order to be more compliant with the scikit-learn styling, we need to switch to numpy style docstrings (examples here: https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt)

[2016-07-24 20:50] wdm0006 opened #10 "Add citations to readme"
To comply with scikit-learn contrib style, add citations for all encoder types to the readme.  An example is here: https://github.com/scikit-learn-contrib/imbalanced-learn

[2016-07-24 21:08] wdm0006 opened #11 "Update documentation"
Update the docs with the new docstrings (in separate issue) and with new introduction and citations (also in separate issues). CircleCI is failing on the push to gh-pages, so that should be fixed as well.

[2016-07-26 17:02] #10 closed

[2016-07-26 17:03] #11 closed

[2016-07-26 17:03] #9 closed

[2016-10-08 08:43] geoHeil opened #14 "one hot encoder handle unknown"
Sklearn offers the "handle unknown flag" http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html with either rise error or ignore.

Do you have any plans to support this? / add a 3rd Option of creating a new category call unknown.

[2016-10-08 19:30] wdm0006 commented on #14
That's a good thought.

I think it would make sense to support what you're suggesting here:

 1. ignore: so if something new shows up, just do nothing
 2. raise: raise a valueerror
 3. keep_unknown (or something like that), would have an unknown column that gets a 1 for any unseen categories.

I'm not sure what the most sensible default would be, maybe ignore?

[2016-10-11 14:31] geoHeil commented on #14
Sklearn is using raise error. I believe this is the most sensible default,
as the user will be forced to decide.

Will McGinnis <notifications@github.com> schrieb am Sa., 8. Okt. 2016 um
21:30 Uhr:

[2016-10-11 14:55] wdm0006 commented on #14
That makes sense, are you interesting in working on this? I likely won't have time for the next few weeks.

[2016-10-11 15:27] geoHeil commented on #14
Unfortunately me neither. ;(

Will McGinnis <notifications@github.com> schrieb am Di., 11. Okt. 2016 um
16:55 Uhr:

[2016-11-28 15:33] wdm0006 commented on #14
Ok, looking at this again, I'd like to keep the existing method of `impute_missing` around for a little while to not break existing users' code.

To handle that transition, we could leave `impute_missing` as a boolean, and if it's true (it defaults to True currently), then apply the logic specified by a new parameter `handle_unknown` which has options 'error', 'ignore' and 'impute_unknown', defaul

[2016-12-13 14:52] #14 closed

[2016-12-14 14:44] wdm0006 opened #16 "Add leave-one-out encoding"
A popular kaggle technique for encoding categorical variables is 'leave-one-out', shown here:

http://nycdatascience.com/featured-talk-1-kaggle-data-scientist-owen-zhang/

https://www.kaggle.com/c/caterpillar-tube-pricing/forums/t/15748/strategies-to-encode-categorical-variables-with-many-categories?forumMessageId=143154

It would be cool to add that into the library to evaluate it against other m

[2016-12-14 14:45] wdm0006 opened #17 "Add bases other than binary"
The exact methodology used in binary encoding can be easily expanded out to other bases (3, 4, etc).  It would be great to have a BaseXEncoder to allow for experiments with different bases.

[2016-12-14 14:46] wdm0006 opened #18 "Support missing value and unknown category handling in other encoders"
Currently only onehot and ordinal support this, we need to implement it in the remaining encoders as well.

[2016-12-17 16:27] #17 closed

[2017-03-14 20:24] justkunz opened #19 "Support full transform for OneHotEncoder"
Currently, `OneHotEncoder.transform` only adds columns for the categories that are passed in, not for all the categories present. This breaks sklearn pipelines when applied to a few rows because OneHotEncoder.transform returns the wrong shape. The example from [this stackoverflow post](http://stackoverflow.com/questions/39970517/how-to-encode-two-pandas-dataframes-according-to-the-same-dummy-vecto

[2017-03-14 20:34] wdm0006 commented on #19
Yeah, that makes sense.  In `get_dummies` in one_hot we build up the encoded columns based on what is in the passed in `X`, but really ought to get the categories from the pre-trained `OrdinalEncoder` that got built in `fit`.  I think that would solve this issue.

Is the assumption that all categories you want to encode are present in the dataset you pass to `fit` reasonable?

[2017-03-14 20:58] justkunz commented on #19
Yes, @wdm0006 your assumption is correct, all categories to encode should be passed in the dataset to `fit`.

[2017-03-15 02:50] wdm0006 commented on #19
Are you interested in working on a PR @justkunz? If not I'll try to work on this soon.

[2017-03-15 17:41] justkunz commented on #19
@wdm0006 I can get a quick PR up.

[2017-03-16 15:37] wdm0006 commented on #19
Fixed by #20

[2017-03-16 15:37] wdm0006 commented on #19
Will do a new release soon, would like to try to fix #18 beforehand though if possible.

[2017-03-16 15:37] #19 closed

[2017-03-19 03:14] #18 closed

[2017-03-29 01:13] geezhawk commented on #16
I'll tackle this one if no one else is on it yet.

[2017-03-29 02:46] wdm0006 commented on #16
Awesome, let me know if you have any questions along the way!

[2017-06-09 09:31] davidsbatista opened #21 "Adding variable names to enconding"
Is it possibly, for instance, with one-hot encoding to add to the variable name, the variable value? e.g.: with the variable `gender` having the following values: `unknown`, `male`, `female`

encoded as three variables with names:
`gender_unknown`	`gender_male`	`gender_female`

instead of:
`gender_0`	`gender_1`	`gender_2`

[2017-06-09 15:16] wdm0006 commented on #21
I've thought about this a good bit, it's tricky for the case where the values aren't nice<sup>TM</sup>.  So if the labels have odd characters, spaces, are extremely long, etc, then they may not make great column names.

So that was the original rationale behind using the index instead.

What we could, and probably should, do instead though, is expose `self.ordinal_encoder.mapping` as a property in

[2017-06-09 22:17] davidsbatista commented on #21
just exposing the mapping would be enough

[2017-06-13 16:44] a86c6f7964 opened #22 "reshape is deprecated"
[code]

i am using the following versions and getting that warning
[code]

[2017-06-13 17:29] a86c6f7964 commented on #14
@wdm0006 can you do a pip release with this fix?

[2017-06-13 21:01] a86c6f7964 opened #23 "mapping with ordinal breaks if fit is called again"
this makes it impossible to use in a pipeline where some things need to be fit and ordinal does not iff it has a mapping

This is demonstrated in the test case failing https://github.com/novilabs/categorical-encoding/commit/ddf21f79d17d4aa1f0ba5efd9d516b8e3200f5e1

[2017-06-14 16:33] davidsbatista opened #26 "re-using pickled/saved encoders"
I've trained a model, for which I use the one-hot-encoder, and let's say a categorical variable, e.g. `device_type`, had 20 possible values, the trained model is now expecting to see, among other columns, 20 columns related with the values of `device_type`, i.e.:

 `device_type_0, device_type_1, ..., device_type_20`

I also saved/pickled this trained model as well as the one-hot-encoder.

I now ha

[2017-06-14 19:16] wdm0006 commented on #21
Ok, are you interested in working on a PR for this?

[2017-06-14 19:17] wdm0006 commented on #22
Yeah, we should probably switch to the syntax they recommend. Are you interested in working on a PR with this fix?

[2017-06-14 19:19] #23 closed

[2017-06-14 22:18] a86c6f7964 commented on #22
sure

[2017-06-15 22:32] davidsbatista commented on #21
Yes, I can start working on it. Although it might take some time, have too much on my plate right.

[2017-06-16 00:37] wdm0006 commented on #21
Awesome, let me know if you run into any trouble.

[2017-06-16 09:53] davidsbatista commented on #26
mea culpa! I was simple doing `fit_transform`, thanks for the reply.

One more question, how does this pickled `one-hot-encoder` will handle unseen values for a categorical variable?

[2017-06-16 18:35] wdm0006 commented on #26
you can pass `handle_unknown` as `error`, `impute` or `ignore` and it will either raise an exception, impute a class for "unknown" or just ignore that sample outright, respectively.

[2017-06-16 18:35] #22 closed

[2017-06-20 09:33] hbghhy commented on #16
I want to try this, but i wonder what should i do when i meet a never seen category?
Encoder it as the mean of y in whole train data or something else?

[2017-06-20 12:37] wdm0006 commented on #16
@hbghhy awesome! In one-hot, you'll see an example of how we've handled this in the past. There we have options of raising exceptions, ignoring the samples, or imputing something to indicate 'unknown'.  For this, imputing the mean of whole training data may be a good approach for 'unknown'.

[2017-06-20 20:37] dbarrundiag opened #28 "convert_objects is deprecated"
[code]

I'm using the following:
[code]

[2017-06-20 23:32] #26 closed

[2017-06-21 07:25] hbghhy commented on #16
@wdm0006 ,I just pull a new request about it. You can see is there something wrong.

[2017-07-06 17:33] wdm0006 commented on #16
Fixed!

[2017-07-06 17:33] #16 closed

[2017-07-11 17:22] justkunz commented on #19
@wdm0006 what's the status of the 1.2.4 release?

[2017-07-11 17:41] wdm0006 commented on #19
I need to do a docs update with some of the recent PRs, but will try to get it out this week.

[2017-07-12 13:54] wdm0006 commented on #19
@justkunz, just released it.

[2017-07-12 17:51] justkunz commented on #19
Thanks @wdm0006!

[2017-07-26 15:30] joseph-jnl opened #31 "conda install currently breaks when using python 3.6"
UnsatisfiableError: The following specifications were found to be in conflict:
  - category_encoders -> python 2.7*
  - python 3.6*
Use "conda info <package>" to see the dependencies for each package.

[2017-07-26 16:36] wdm0006 commented on #31
hm... @bollwyvl do you know what this would be? I don't know conda particularly well.

[2017-07-26 16:42] joseph-jnl commented on #31
I think the output for 'conda info category_encoders' suggests there isn't a package built for python 3.6 yet on conda forge.

category_encoders 1.2.2 py27_0
------------------------------
file name   : category_encoders-1.2.2-py27_0.tar.bz2
name        : category_encoders
version     : 1.2.2
build string: py27_0
build number: 0
channel     : conda-forge
size        : 21 KB
arch        : x86_64
li

[2017-07-28 16:15] wdm0006 commented on #31
There have been some updates in the conda repo on this, is your issue resolved now?

[2017-07-28 16:39] joseph-jnl commented on #31
It is - thanks for the quick turnaround!

[2017-07-28 17:29] wdm0006 commented on #31
Yep, thanks @bollwyvl!

[2017-07-28 17:29] #31 closed

[2017-07-28 17:31] bollwyvl commented on #31
Yeah, sorry for the delay, friends! You can definitely bother us (me, new maintainer @nirajd, who anticipated your need, and anyone else we can cajole into maintain packaging!) [over here](https://github.com/conda-forge/category_encoders-feedstock) for conda-related issues!

[2017-08-02 00:59] leopeng1995 opened #32 "References hyperlink is deprecated"
http://contrib.scikit-learn.org/categorical-encoding/backward_difference.html
https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/category_encoders/backward_difference.py

http://www.ats.ucla.edu/stat/r/library/contrast_coding.

This hyperlink is deprecated and moved to:

https://stats.idre.ucla.edu/r/library/r-library-contrast-coding-systems-for-categorical-variables/

[2017-08-02 01:37] #32 closed

[2017-08-18 02:42] stevewyl opened #33 "Try to use hashencoder but fail due to high memory usage"
I tried to convert several categorical columns to hash-encoding features and the size of input data is 2.7 million, one column has 20K category. But the amount of memory will be up to 10G, it's a very strange situation. Why the encoder used so much memory?

[2017-08-18 02:55] wdm0006 commented on #33
How large in bytes is the dataset being passed in? If it's a pandas dataframe you can use `df.info(memory_usage=True)` to find out.

Also what are you using for `n_components`?

[2017-08-18 02:58] stevewyl commented on #33
The dataset is just 170MB, I set the n_components as 500.

[2017-08-18 15:31] wdm0006 commented on #33
How many columns are there in the original dataset, and how many of those are being encoded with the HashingEncoder (by default it'd be all).

[2017-08-22 11:12] andrethrill opened #34 "Moving required number of digits calculation to fit() - BinaryEncoder and BaseNEncoder"
In binary.py, the required number of digits is calculated as such, inside the _binary()_ function:

[code]

_binary()_ is called inside the _transform()_ function.

Is there a specific reason why the required number of digits are calculated during _transform()_ instead of _fit()_?

The reason I am asking is because, when performing distributed computation, different partitions of the same array ar

[2017-08-24 17:18] wdm0006 commented on #34
Yeah, I think this makes sense. One question though, if you have say, 4 categories in the dataset passed to fit(), and determined that these can be encoded with 2 columns, but then pass data with 6 categories to the transform, would getting an exception or imputing the unknown categories with some unknown value be tolerable for your use-case?

[2017-08-25 08:44] andrethrill commented on #34
I think that having the option to choose between those two would be appropriate.

[2017-08-31 09:53] andrethrill commented on #34
FYI I noticed that *BaseNEncoder* has the same behavior.

If you need any further input from me, feel free to ask

[2017-08-31 11:42] andrethrill commented on #34
I've created #35 to fix the problem in binary.py, for my use case (still no option flag). I didn't modify *BaseNEncoder* because I'm not familiar with it

[2017-09-03 02:27] DataTerminatorX commented on #14
I have the same suggestion as @geoHeil . While I think the best way to handle unseen categorical value is to set all zeros, like pandas `get_dummies`. Adding a new column called `unknown` is not proper, because this column will be "redundant" dimension

@wdm0006  hope for a release with this new feature. The issue hasn't been fixed in current sklearn version `0.19.1`

[2017-09-09 13:47] wdm0006 commented on #28
Ah yeah, noted, thanks for the ticket. Any interest in working on a PR for this?

[2017-09-09 13:48] wdm0006 commented on #33
Closing this, feel free to re-open if you're still having issues.

[2017-09-09 13:48] #33 closed

[2017-09-09 13:49] wdm0006 opened #36 "Make the changes from #35 in BaseNEncoder"
@andrethrill submitted a PR to move the determination of n_cols to fit() and not doing it on the fly in transform(), we should make the same change in BaseNEncoder.

[2017-09-11 15:45] wdm0006 commented on #34
Fixed by #35 and new issue for basen encoder opened as #36

[2017-09-11 15:45] #34 closed

[2017-09-18 04:51] Jeeva-Ganesan opened #37 "Make use of multiprocessing module?"
Hello,

Thanks for your work on this. Is there any way we can make use of the multiprocessing module here? I have this snippet,

[code]

I am trying to encode 9 categorical columns, I know 7 of them has less than 100 levels in it, however two columns are big, one has 40702 and another one has 48112 unique values respectively. My encoding is running for past 7 hours, is there a way to speed up the

[2017-09-18 17:58] wdm0006 commented on #37
40,000 is quite a few levels.  There are for sure some performance optimizations we could/should make in there. Some things are calculated in the loop that really can just be done once, we could probably be smarter about the execution itself as well.

The simplest place for parallelization with something like joblib or multiprocessing would be do process multiple columns at the same time, which I

[2017-09-19 22:39] #28 closed

[2017-09-19 22:44] #36 closed

[2017-09-27 17:35] apapiu opened #38 "Leave One Out Encoding Behavior"
I've been trying the `LeaveOneOutEncoder` but from what I can tell it just takes the mean of the target given the current levels without leaving the current example out. Also it seems like setting `randomized = True` does not seem to add any noise. Am I missing something?

Doing the example in the docs:

[code]

Just replaces the `'CHAS'` and  `'RAD'` columns with the mean of the target grouped by

[2017-09-27 18:39] wdm0006 commented on #38
Hmmm, thanks for the ticket, I'll take a look.

[2017-10-07 16:49] wdm0006 commented on #38
Sorry for the delay, it's really just not a great example, we should change it. If the variable being encoded has a category with only one observation then that observation's value is imputed as the mean, like you say. So in this dataset, that happens to be everything. We should switch the example to mushroom dataset or something like that.

[2017-10-12 16:26] apapiu commented on #38
Hey thanks for the response - I think I get what you're saying. Also the behavior of just outputting the mean does make sense on _new_ data.

However for this particular encoder the `.transform` would need to have two different behaviors:

- on the  original data, the transformed version should have the leave one out and noise included
- on new data it should just output the mean per group(as it d

[2017-10-14 14:09] wdm0006 commented on #38
I don't think the issue here is on new/old data, it's that it's on not-really-categorical data. There have to be multiple observations with the same value (so think, a column of gender, where you have 1000 rows of either M, F or null), or you will see the behavior described above.

Leave-one-out, more so than other categorical methods is sensitive to this case.

[2017-10-18 14:49] apapiu commented on #38
I see what you mean in terms of not having multiple observations of the same value but the columns in the Boston dataset used in the example do not behave that way - take for example `'RAD'`:

[code]

However the `.transform` will still only return the mean per group.
I've also tried transforming it to an object dtype but the behavior is the same.

So I guess looking back to the image in the origi

[2017-10-19 19:18] wdm0006 commented on #38
Ah, then I'd guess you are using the default randomized=False, try setting that to True if so.

[2017-10-27 23:01] milanogc commented on #28
When will this fix be released?

[2017-10-30 13:16] wdm0006 commented on #28
I was hoping to fix #21 first, but that looks to have fallen off radar, I'll try to hack something together and get a release out this week.

[2017-10-30 13:45] milanogc commented on #28
That's perfect, thank you!

[2017-11-01 19:34] shengc opened #39 "BinaryEncoder does not satisfy distributive law"
Look at the following snippet,
[code]
I would argue `encoder.transform(data[:1])` should be mapped to [0, 0], otherwise the distributive law would not hold, e.g.,
[code]

[2017-11-02 17:38] #21 closed

[2017-11-02 17:50] wdm0006 commented on #39
Hm, I added a test to our test suite with this, and it seems to pass fine. What version of category_encoders are you using?

[code]

[2017-11-03 16:37] wdm0006 commented on #38
Marking this closed, if randomized didn't fix your issue, feel free to reopen.

[2017-11-03 16:37] #38 closed

[2017-11-03 16:37] #37 closed

[2017-11-03 16:38] wdm0006 commented on #28
@milanogc v1.2.5 is out on pypi and has this fix.

[2017-11-03 21:38] milanogc commented on #28
Awesome! Thanks!

[2017-11-08 19:42] rspadim opened #40 "target encoding"
should be nice this one too:

https://www.kaggle.com/ogrellier/python-target-encoding-for-categorical-features

[2017-11-09 13:47] wdm0006 commented on #40
This does look interesting, would you like to help work on a PR for it?

[2017-11-20 03:36] dribnet opened #41 "testing new coding methods"
Hi - is there a standard metric that's been established to evaluate the performance of the various categorical encoding methods? In my own work I use a generalization of 1-hot encoding I call [k-hot encoding](https://gist.github.com/dribnet/163656a1c57150def7909cbebf4f07d9), where k denotes the number of activate bits. I'd be keen to evaluate it on a standard metric if one exists to see if it's an

[2017-11-20 21:38] wdm0006 commented on #41
Hey,

K-hot sounds somewhat, but not quite, similar to the BaseN encoding we have here. I'd be interested to see how they compare in practice, K-hot may be worth adding into the library to see.

As for evaluation, there are some heuristics, like total dimensionality (so compression), and distortion (stdev of l2 distance between random points once encoded, should be very low). There is also the opt

[2017-11-27 16:42] #39 closed

[2017-11-29 21:55] kodonnell opened #42 "category value in column name?"
E.g.

[code]

Ignoring last column, I'd like to see

[code]

So that e.g. if I find `col_a` is a strong feature in a model, I can interpret what it means easily (as opposed to `col_0`). I know I can hack this myself, but I'd have thought it'd be a common use case, and natively supported. Unless I'm missing something ...

[2017-11-29 22:51] wdm0006 commented on #42
This has come up before, notably here: https://github.com/scikit-learn-contrib/categorical-encoding/issues/21

Then it was implemented in the two encoders where I could figure out how to here: https://github.com/scikit-learn-contrib/categorical-encoding/commit/056a483eff86f1ca1f57d7b7c0fab520fa988200

For something like binary encoding the output columns don't map 1-to-1 with categories, so it doe

[2017-11-29 22:57] kodonnell commented on #42
Sorry, I missed that issue when looking.

I'd still like to have an option to use variable values instead of indices, and leave the responsibility to the user. (Though any string value is supported as a name in pandas, correct?) In my case, they're nearly always 'nice'. This is the standard behaviour of other things I've used (e.g. R or `pandas.get_dummies`). Anyway, because this isn't supported,

[2017-11-29 23:17] wdm0006 commented on #42
No worries, if left as an option that defaults to current behavior I’d not be opposed to including that kind of thing for the encoders where it makes sense, if you’re interested in working on a PR

[2017-12-09 19:51] kodonnell commented on #42
won't be able to offer a PR sorry (at least in next few months)

[2017-12-11 09:32] lihuiknight opened #43 "What's the formula for HelmertEncoder"
Could someone tell me the detail processing logic for HelmertEncoder? My Code as below:
sales = [{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
         {'account': 'Alpha Co',  'Jan': 200, 'Feb': 210, 'Mar': 215},
         {'account': 'Blue Inc',  'Jan': 50,  'Feb': 90,  'Mar': 95 }]
X = pd.DataFrame(sales)
y = np.array([1, 0, 1])

enc = HelmertEncoder(cols=['account']).fit(X, y)
n

[2017-12-11 13:43] wdm0006 commented on #43
Hey,

Thanks for checking out the library, here are some resources for Helmert encoding (we pass through to statsmodels for the actual computation, their "Helmert" is akin to what many would call "Reverse Helmert").

https://stats.idre.ucla.edu/r/library/r-library-contrast-coding-systems-for-categorical-variables/#HELMERT

http://www.statsmodels.org/dev/contrasts.html

[2017-12-13 21:54] edwardcjohnson opened #44 "Create inverse_transform functionality"
Could the inverse_transform functionality that exists in sklearn encoders be introduced?
This would allow a user to obtain the original levels prior to encoding.

See the examples section in:
http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

[2017-12-13 23:41] wdm0006 commented on #44
For some of the encoders, notable ordinal, onehot, basen, and binary: yes for sure, we can and should do that. For some like hashing, not really.

Are you interested in helping to work on a PR for maybe ordinal encoding to start with?

[2017-12-13 23:41] #43 closed

[2017-12-13 23:42] wdm0006 commented on #42
Ok, I can work on one if I get a chance, but am marking this as seeking a contributor in the meantime. If anyone would like to work on this, chime in here.

[2017-12-20 07:16] chappers commented on #40
There is a link to the actual paper here: https://kaggle2.blob.core.windows.net/forum-message-attachments/225952/7441/high%20cardinality%20categoricals.pdf

[2017-12-21 02:45] #40 closed

[2017-12-29 00:58] wdm0006 opened #46 "Large scale benchmark"
It would be great to use something like this: https://github.com/EpistasisLab/penn-ml-benchmarks
to get a comprehensive view of memory usage, time-to-transform, and end-model accuracy for all encoders.

It'd probably take a very long time to compute, but could be re-run once per release or something like that.

[2017-12-29 00:59] wdm0006 commented on #41
Moved this into a more specific #46, if you'd like to implement your k-hot algorithm, please open a separate issue for that.

[2017-12-29 00:59] #41 closed

[2017-12-29 01:11] rhiever commented on #46
[This repo](https://github.com/rhiever/sklearn-benchmarks) might be a useful resource to pull code from. We've been running sklearn benchmarks over there and published the results on sklearn classifiers in [this paper](https://arxiv.org/abs/1708.05070). You can find the code for the preprocessor benchmark that I've been running with sklearn preprocessors [here](https://github.com/rhiever/sklearn-b

[2018-01-07 12:11] wenwu313 commented on #44
@wdm0006 hey man, I want to try this fucking issue

[2018-01-07 16:32] wdm0006 commented on #44
Hm. That's a good question. The clearest thing would be to raise a ValueError or something like that in those cases and tell the user they can't use inverse transform if they are using drop_invariant or impute_missing.

Otherwise you'd have to keep some state in the class to maintain an ability to repopulate those, which would be a pretty heavy addition.

[2018-01-08 03:23] wdm0006 opened #47 "Contributors add yourselves to the JOSS submission."
This repository is currently being reviewed for possible inclusion of the journal of open source software.

If you've committed here before and would like to be included, please add yourself to the authors list here, via PR: https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/joss/paper.md

[2018-01-08 03:25] wdm0006 commented on #47
@chappers @andrethrill @hbghhy @a86c6f7964

[2018-01-09 06:44] wenwu313 opened #52 "What should 'None' be converted as ?"
[code]
As above, 'None' is converted as -1, but in the mapping , 'None' is mapped as 0. What should 'None' be converted as? why not converted as 0?
And I find
[code]
Is there any problem?

For 'None' , there is difference between numpy and pandas , pandas always treat 'None' as nan, but numpy treat 'None' as NoneType. Is it necessay to modify as follows ?
[code]

[2018-01-11 10:52] miskolc opened #53 "Encode as integers or strings?"
https://github.com/scikit-learn-contrib/categorical-encoding/blob/d165a4957a7f4a8ca0287d8c01d44be6cf21aa3c/category_encoders/binary.py#L228

I was reading the code to understand how the algorithm works and I noticed you the `col` array contains arrays and the list of zeros you prepend to it contains integers. I think the data type used should be consistent, either use integers or strings.

[2018-01-11 15:50] wdm0006 commented on #52
Hm, yeah that looks like a bug. -1 is for unknown categories (so a category showing up in transform that wasnt seen in fit), which clearly, it shouldn't have been.  I think you're correct that root cause here is the None vs. nan mixup.

Not sure the easiest way to resolve this, since we cast to pandas always, we can treat Nonetypes in mappings special maybe? I'll have to think on that some.

Great

[2018-01-11 15:57] wdm0006 commented on #53
Totally agree, I think both should be integers. Would you like to work on a PR for this fix?

[2018-01-12 00:22] dennisobrien commented on #32
This link is still referenced a few places in the code.
- [backward_difference.py](https://github.com/scikit-learn-contrib/categorical-encoding/blob/3c03f8eba2df26be3e0b15814a1e281dec0b0938/category_encoders/backward_difference.py#L80)
- [helmert.py](https://github.com/scikit-learn-contrib/categorical-encoding/blob/3c03f8eba2df26be3e0b15814a1e281dec0b0938/category_encoders/helmert.py#L80)
- [polyn

[2018-01-12 00:25] wdm0006 commented on #32
Nope, this issue is fine, I'll update them real quick thanks for the heads up.

[2018-01-12 10:58] andrethrill opened #54 "OneHotEncoder creates dummy column"
In the following example:

[code]

I believe `col_2` should not be created. I think this is a bug created due to `OneHotEncoder` calling internally `OrdinalEncoder` and both are imputing an extra category.

Happy to hear if I am wrong?

[2018-01-12 11:38] wenwu313 opened #55 "Bug in basen.py"
[code]
Is there a bug in basen.py?

[2018-01-12 13:56] wdm0006 commented on #54
Yes, this appears to be the same bug as #52, NaN and None are treated badly, so we get them as both a new category (which never appears), and then get an unknown column (the -1 col here).

I'm going to open an issue for this bug and close the two issues currently open, if you or @wenwu313 are interested in working on a fix check in over there.

[2018-01-12 13:56] #54 closed

[2018-01-12 13:58] wdm0006 opened #56 "NaN and None are handled inconsistently"
If you pass NoneType in, it will create a new category, which is never used, and then encode all instances of NoneType as unknown category.

See #54 and #52

[2018-01-12 13:58] wdm0006 commented on #52
see #56

[2018-01-12 13:58] #52 closed

[2018-01-12 13:59] #44 closed

[2018-01-12 14:00] wdm0006 commented on #55
Seems like it, that's weird. Col2 appears to work fine, but col1 is both wrong and for some reason a float. Can you post the underlying ordinal encoder mapping?

[2018-01-12 18:37] #47 closed

[2018-01-12 18:50] #56 closed

[2018-01-13 04:12] wenwu313 commented on #55
@wdm0006
[code]
I think bug is in  the function `def basen_encode(self, X_in, cols=None)` in basen.py

[2018-01-27 06:53] zimka opened #57 "handle_unknown"
Hello!
I have faced smth that looks like a bug for me.
![screenshot-enc](https://user-images.githubusercontent.com/4560910/35469534-6fb07356-0347-11e8-8e7b-855c29a9f833.png)
[traceback.txt](https://github.com/scikit-learn-contrib/categorical-encoding/files/1669832/traceback.txt)
Same behavior for other encoders that have this check:
https://github.com/scikit-learn-contrib/categorical-encoding/blob

[2018-01-27 23:19] wdm0006 commented on #57
Do you see the same error in v1.2.6?

[2018-02-11 10:56] gavin-s-smith commented on #57
Yes, I can confirm this error (same code) v1.2.6.

This looks like a bug. The statement block in question is:

if X[~X['D'].isin([str(x[1]) for x in switch.get('mapping')])].shape[0] > 0:
                            raise ValueError('Unexpected categories found in %s' % (switch.get('col'),))

At this point the code is looping over each column and converting the string representation to the ordinal

[2018-02-11 15:11] wdm0006 commented on #57
Good catch! Would you be interested in putting together a PR with this bug fix?

[2018-02-11 16:24] #53 closed

[2018-02-11 16:26] wdm0006 commented on #55
Yeah, the ordinal mapping looks fine, I'll have to take a closer look at BaseN and write some tests for this example when I get a chance. Thanks for the heads up.

[2018-02-11 23:51] #57 closed

[2018-02-13 15:02] eyadsibai opened #59 "Add weight of evidence encoding"

[2018-02-14 02:45] wdm0006 commented on #59
Hey Eyad, are you interested in working on a PR for this?

[2018-02-14 10:11] eyadsibai commented on #59
Sure!

[2018-02-14 21:02] wdm0006 commented on #59
Excellent, thanks.

[2018-02-19 13:51] antonkw opened #60 "Continuous distribution based on probablities"
I found interesting approach in paper "The Synthetic Data Vault: Generative Modeling for Relational Databases". It seems like there are no implementations in popular libs.

Steps:
1. Sort the categories from most frequently occurring to least.
2. Split the interval [0, 1] into sections based on the cumulative probability for each category.
3. To convert a category, find the interval [𝑎, 𝑏] ∈ [0, 1

[2018-02-19 18:16] wdm0006 commented on #60
I think this would be an interesting thing to add, if you'd like to work on it.

[2018-02-22 07:39] SergioEanX opened #61 "How use LeaveOneOutEncoder in pipelines"
I can't figure it out how to correctly use LeaveOneOutEncoder in pipelines.
Consider the following code:

[code]

I receive error:
`TypeError: fit() missing 1 required positional argument: 'y'`

But how to pass y?
Thanks.

[2018-03-06 17:12] wdm0006 commented on #61
you need to pass y into your fit, you're only passing `housing`.

[2018-03-06 17:12] #61 closed

[2018-03-06 18:52] usingamgad commented on #37
@wdm0006 Why this issue is closed? I'm facing a similar issue. The Binary encoders is quite slow, is there anyway to make it faster?

[2018-03-06 20:36] wdm0006 commented on #37
It was closed just because it was open ended. We, in general, do want to increase throughput and scalability for all of the encoders and there are probably ways we can do that (and since this issue we have made some improvements in other encoders).

If anyone is interested in working on computational performance benchmarking and improvements, that'd be great and I'd be happy to help, but otherwise

[2018-04-26 14:20] sharthZ opened #63 "[Question] Can i get transformed names from encoders?"
When i use encoders in `FeatureUnion` after `transform` i always get `numpy.ndarray` regardless of what was fed to the input, `pd.DataFrame` or smth else. When i try get new feature names by `FeatureUnion.get_feature_names()` i got `AttributeError: Transformer ohe (type OneHotEncoder) does not provide get_feature_names.`. So how can i know transformed feature names?

[2018-05-01 16:26] vivekk-ezdi opened #64 "Documentation not clear about the "mapping" parameter of OrdinalEncoder"
Hi,

Please look at [this stack-overflow question for reference](https://stackoverflow.com/q/50092911/3374996). The mapping parameter usage by the user in this question is wrong.

But I am not able to find the documentation of perfect usage of `mapping` param in OrdinalEncoder. The [documentation](http://contrib.scikit-learn.org/categorical-encoding/ordinal.html#category_encoders.ordinal.OrdinalEn

[2018-05-03 22:14] bozhang0504 opened #66 "[Question] Does categorical-encoder work with numpy?"
I tried with Leave One Out encoder, I got error when try to input numpy array. Does it work with Pandas dataframe only?

[2018-05-11 20:39] rafamonge opened #67 "Error when using pipelines with BinaryEncoder"
I adapted this code from the examples/encoding_examples.py file to use a pipeline. cross_val_score fail with the error at the end of this post

[code]

# Abridged List of packages installed
- numpy                     1.14.0           py36h4a99626_1
- pandas                    0.22.0           py36h6538335_0
- python                    3.6.4                h6538335_1
- scikit-learn              0.

[2018-05-13 14:59] wdm0006 commented on #63
you can pass return_df=True to the constructor to get a dataframe out instead of a numpy array.

[2018-05-13 14:59] #63 closed

[2018-05-13 15:00] wdm0006 commented on #42
Merged PR #65

[2018-05-13 15:01] #42 closed

[2018-05-13 15:01] wdm0006 commented on #64
Great feedback, I agree. Would you like to work on a documentation update PR to resolve this?

[2018-05-13 15:02] wdm0006 commented on #66
Nope, works with both.

Do you have a specific error of some kind you can post?

[2018-05-13 15:03] wdm0006 commented on #67
Hmmm. Does this run with impute mode as "impute" instead of "ignore"?

[2018-05-13 17:09] mrgloom opened #68 "Target Encoding for regression task?"
Is it possible to use Target Encoding for regression task?

[2018-05-14 01:10] bozhang0504 commented on #66
Sorry, I just tested again, my original question is wrong.

The question should be - it doesn't work with Pandas Series.

Here is test code:
[code]

I tested with numpy nd.array there is no problem here.
[code]

Then I tested with pandas dataframe with selected column.
[code]
Then I got error:
[code]

[2018-05-14 01:37] wdm0006 commented on #66
Correct, it does not work with series.

Normally here you'd pass a dataframe and perhaps specify certain columns to use with the "cols" param. Any reason you can't use a dataframe?

[2018-05-14 01:39] wdm0006 commented on #68
Hmm, it might run, but I'm not sure that it will give you results that work out as you'd like. Worth a shot, if it does work it's not intentional but comment back here, it'd be cool.

[2018-05-14 05:09] bozhang0504 commented on #66
Thank for you quick reply.

I am building a pipeline with  [sklearn_pandas](https://github.com/scikit-learn-contrib/sklearn-pandas) package's `DataFrameMapper`.

The pipeline is used to generate PMML file using [sklearn2PMML](https://github.com/jpmml/sklearn2pmml).

Here is an example from `sklearn2PMML`'s documentation with a little tweak.

[code]
Error happened at the mapper step. A Pandas serie

[2018-05-14 05:32] vivekk-ezdi commented on #64
@wdm0006  Yes, would like to do this. Can you please refer me to some examples on how to do this correctly?

[2018-05-14 19:52] rafamonge commented on #67
Just tried it with impute and got the same error

[code]

[2018-05-16 18:44] hayesgb opened #69 "Issue at install with statsmodels v 0.9.0"
I encountered an issue with categorical-encoders and a new release of statsmodels.  I've created a package, and when calling `pip install .` on the package to install it in a Docker container, I get the following:

[code]

This worked prior to the release of statsmodels 0.9.0, which was released at the end of April 2018.
 Specifying statsmodels==0.8.0 in the setup.py  `install_requires` list elimi

[2018-05-17 20:56] dennisobrien opened #70 "Request to add support for pandas categorical types when using OrdinalEncoder"
Hi All,

I ran into an issue using OrdinalEncoder where I assumed that it would use the mapping in the categorical types in the passed pandas dataframe.  Instead, it created a mapping based on the order of the data passed to `fit_transform`.  I realize that this is user error, but it would be nice for OrdinalEncoder to use the existing mapping information from the categorical dtype.  If the mainta

[2018-05-18 17:32] mrgloom commented on #68
Looks like it works without throwing exception, but quality is less then my naive way of mean encoding even without k-fold, smoothing, etc.

[2018-05-18 17:32] #68 closed

[2018-05-22 18:40] wdm0006 commented on #70
This makes a lot of sense, and I think would be a great addition. I look forward to a PR, if you run into trouble let me know.

[2018-05-22 18:41] wdm0006 commented on #69
Hmmm, this is strange. We might should pin the req at 0.8.0 here and bring it up to the statsmodels folks?

[2018-05-25 18:54] sebastiangonsal opened #71 "Is frequency encoding covered in this?"
Is frequency encoding covered with any of these encoders ?

[2018-05-25 18:55] sebastiangonsal opened #72 "Do the targetencoding and leave one out encoding work with both classification and regression problems?"
Do the targetencoding and leave one out encoding work with both classification and regression problems?

[2018-05-26 12:41] JoshuaC3 commented on #59
@eyadsibai This sounds great!

For those who are not sure what it is [here](https://www.slideshare.net/0xdata/feature-engineering-83511751) is a nice example of it!

[2018-05-28 09:46] eyadsibai commented on #59
I started it. It is not a lot of work. I should resume soon

[2018-05-28 13:22] kuraga opened #73 "New version request"
Good day!

There are some bugfixes and `use_cat_names` new feature. What about a new version?

[2018-05-29 01:14] wdm0006 commented on #71
Nope, do you have a reference for it?

[2018-05-29 01:15] wdm0006 commented on #72
They will run, but you may not get great results, they are intended for classification problems I believe.

[2018-05-29 01:15] #72 closed

[2018-05-29 01:16] wdm0006 commented on #73
Hey @kuraga, good point. I'll take a look at what all is open, we have a few contributors who are working on PRs right now, but if they're not soon-to-be-done we can go ahead and cut a release with whats already been merged.

[2018-05-29 01:16] #73 closed

[2018-05-29 01:17] wdm0006 commented on #60
@antonkw just checking in, are you working on this?

[2018-05-29 01:18] wdm0006 commented on #64
Hey @vivekk-ezdi, you should just need to update the doc-string in the ordinal encoder class, the docs themselves are autogenerated on build with sphinx.

[2018-05-29 01:19] wdm0006 commented on #66
Closing this as it's not a bug, we will take a look at adding support for series in a future release. If you're interested in working on this let me know.

[2018-05-29 01:19] #66 closed

[2018-05-29 01:35] wdm0006 commented on #67
Ok, so this is a kind of dumb bug on my part, we use -1 to impute missing values, and that's tripping up the binary encoder. Will push a fix tonight.

[2018-05-29 01:41] #69 closed

[2018-05-29 07:55] antonkw commented on #60
@wdm0006
you can find demo of draft implementation here: [Collaboratory Notebook](https://drive.google.com/file/d/12by_xO-uNyR2WQKV-P4MzTAteijK2hOb/view?usp=sharing)

Things to be done:
- adopt it for general sklearn API
- implement indexing for decoding.

[2018-06-02 20:24] rafarui opened #74 "Improvement for binary encoding."
I just found this package and it will be part of my standard library for sure. Congrats guys.
I would like to suggest an improvement for the binary encoder.
I am using the binary encoder this way:

[code]
For a DM with 27kk rows, and 5 possible values for the encoding, it took 5s, while passing all the DM to the fit_transform, it took 4.5min. It is much faster than using the binary for all the dat

[2018-06-04 15:49] #55 closed

[2018-06-04 17:02] wdm0006 commented on #73
@kuraga https://pypi.org/project/category_encoders/ release cut

[2018-06-06 12:07] andymancodes opened #75 "How to deploy Hashing Encoder?"
Hi,

I used Hashing encoder for my model.

The problem is now I want to deploy my model.

How will I encode my values at prediction time?

The Hashing encoder has only hash_method attribute but no mapping attribute.

Please help.

[2018-06-06 12:09] andymancodes opened #76 "How to choose an encoding method?"
Hi,

I am not getting any resources on what encoding to choose for my model.

I tried Binary and Hashing encoding but the predictions are way worse using the Binary encoding.

How to choose an encoding that is suited for my problem?

Any help is greatly appreciated. Thanks!!

[2018-06-06 12:14] Saisuchith commented on #74
To my understanding,binary encoding will represent the levels in binary format. So if it has 2 levels it must
show 0 and 1. But it's showing something different. Am i doing wrong ?
![problem](https://user-images.githubusercontent.com/28287182/41037496-241cb5dc-69b1-11e8-8946-9befe3edf189.png)

[2018-06-06 12:59] wdm0006 commented on #74
@Saisuchith good catch, pushing a fix now and will cut a fresh release. Bug effects any column with number of categories thats a power of 2. If you do 1 or 3 categories, it will work as is, with this fix all will work.

[2018-06-06 12:59] #74 closed

[2018-06-06 13:00] wdm0006 commented on #75
I'd recommend serializing the trained encoder with joblib, loading it at prediction time, and calling transform().

There is no mapping for a hashing encoder.

[2018-06-06 13:00] #75 closed

[2018-06-06 13:00] wdm0006 commented on #76
For now transformer selection is outside of scope of this project. Scikit-learn itself has model and pipeline selection tooling. The most straightforward approach would be something like a grid search.

[2018-06-06 13:00] #76 closed

[2018-06-06 13:04] wdm0006 commented on #76
also please note that v1.2.7 had a critical bug in hashing encoder, if you were using that, try with v1.2.8

[2018-06-06 13:04] wdm0006 commented on #74
v1.2.8 is out with that fix.

[2018-06-06 13:33] Saisuchith commented on #74
with conda-forge i can't install version 1.2.8. Why?

[2018-06-06 13:41] rafarui commented on #74
@wdm0006
the problem is not the columns, but the rows.. today, I think, you go row by row doing the mapping
category to binary columns, when the fast way would be you just do the mapping for the unique values and after that, you merge this mapping with the whole dataFrame.

[2018-06-06 13:51] wdm0006 commented on #74
@Saisuchith they are still building it, it takes a while to propagate to conda.

[2018-06-06 13:52] wdm0006 commented on #74
@rafarui Ahhhhhh I see what you are saying, that makes sense, that's a good idea.  Do you want to try out a PR with that enhancement?

[2018-06-06 16:22] andymancodes commented on #75
@wdm0006 thanks, are the encodings trained? What is the training procedure? I saw md5 as the  I though encodings like binary establish arbitrary mappings to categorical inputs.. could you elaborate or point me to a resource where this training is explained..

[2018-06-06 16:22] andymancodes commented on #75
@wdm0006 also, can't I pickle the encoder and use it?

[2018-06-06 16:52] wdm0006 commented on #75
The encodings are trained differently depending on the encoder. For hashing trick, in general, it's a just a hash, so there is nothing to learn. This runs in transform: https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/category_encoders/hashing.py#L161, you can specify different hashing methods, like MD5.

The methodology is also explained well here: https://en.wikipedia.org

[2018-06-06 18:48] wdm0006 opened #77 "Similarity Encoding for Dirty Categories"
Very interesting paper here: https://arxiv.org/abs/1806.00979

@GaelVaroquaux is there an implementation of this out anywhere else?

[2018-06-06 18:58] GaelVaroquaux commented on #77
:).

As said in the paper, it's available in the "dirty-cat" software.

⁣Sent from my phone. Please forgive typos and briefness.​

On Jun 6, 2018, 20:48, at 20:48, Will McGinnis <notifications@github.com> wrote:

[2018-06-06 19:05] wdm0006 commented on #77
Ah missed that.  What's your opinion on inclusion here? Looks like you've done quite a bit of development over there, so I'm not sure it'd make sense to maintain the implementation in two places. Certainly if you were interested, dirty-cat has a home in category_encoders.

[2018-06-06 21:06] GaelVaroquaux commented on #77
We need to clarify the position of the dirty_cat package. We see it as a
research project for now. Indeed, despite the empirical work that we did
in the paper (which will be presented at ECML this summer), there is
still little known about the problems of dirty categories.

I expect that tradeoffs will emerge in the long run, and that these
tradeoffs will enable us to do better software. For insta

[2018-06-06 21:36] GaelVaroquaux commented on #77
I've update our front page with a see-also, and a note on our goals

[2018-06-07 00:12] bollwyvl commented on #74
@Saisuchith, [1.2.8](https://anaconda.org/conda-forge/category_encoders/files?version=1.2.8) is now up on conda-forge. Thanks!

[2018-06-07 08:08] andymancodes commented on #76
@wdm0006 thanks for the reply, i am trying different values but the hashing encoder just return the same values with very different variables..

[2018-06-07 08:43] andymancodes opened #78 "Can't transform a single data point"
Hi,

the transformation on a dataframe went well.

But when I try it on a single data point, like 👍

enc.transform([['Dell', 'PC']])

-> 3065                 return self._engine.get_loc(self._maybe_cast_indexer(key))
   3066
   3067         indexer = self.get_indexer([key], method=method, tolerance=tolerance)

pandas\_libs\index.pyx in pandas._libs.index.IndexEngine.get_loc()

pandas\_libs\index.p

[2018-06-07 18:32] eyadsibai opened #79 "Add get_feature_names() method"
Many transformers in sklearn has the get_feature_names() method which is essential to use with FeatureUnion class. They are adding the method to the rest of the transformers
https://github.com/scikit-learn/scikit-learn/issues/6425
https://github.com/scikit-learn/scikit-learn/pull/10198
https://github.com/scikit-learn/scikit-learn/pull/6445
https://github.com/scikit-learn/scikit-learn/pull/6441

I

[2018-06-11 13:03] wdm0006 commented on #79
Hey @eyadsibai, agreed.  Are you interested in working on this? I think similar to how they've gone about it up in sklearn, we ought to as a group get one transformer implemented in a clear way, then can make other issues for adding similar support to the remaining ones.

[2018-06-12 07:59] kuraga commented on #74
@rafarui , can you post a (small) POC code, please?

[2018-06-12 18:53] kuraga commented on #74
@rafarui see. sorry...

[2018-06-12 19:41] rafarui commented on #74
@wdm0006 Sory for the late response, I cannot promise, I am a bit overwhelmed at work. I will try, it would be nice.

[2018-06-12 21:17] kuraga commented on #74
@rafarui @wdm0006 BTW how is it implemented in [scikit-learn](https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/preprocessing/data.py#L1840)?

[2018-06-13 01:18] wdm0006 commented on #60
@antonkw happy to review a PR if you'd like to work on one. If you aren't planning on that, let me know and I can unassign this issue.

[2018-06-13 01:23] wdm0006 opened #80 "Performance Improvement for Binary Encoder"
From issue #74

@rafarui found that binary encoder could be dramatically sped up by precomputing the encoding on the unique categories then doing a join back to the original data.

[code]

[2018-06-14 09:46] dnks23 opened #81 "Support for Enum-Encoding as in H2o"
Hello,

the H2o ML Framework supports an `enum`-encoding scheme. It would be nice to have this for sklearn as well. As far as I know there are no contributions made to add this for sklearn models.

Anyone has thoughts about this?

[2018-06-14 23:59] sebastiangonsal opened #82 "which of the encoders work for classification and which work for regression"
I think TargetEncoder throws some errors with regression?

[2018-06-15 23:33] eyadsibai commented on #79
@babaktr

[2018-06-19 01:07] wdm0006 commented on #81
Do you know of a paper or reference from enum encoding? A quick read of H2O docs has me thinking it may be the same as either one-hot encoding or baseN encoding with base 1.

[2018-06-19 01:09] wdm0006 commented on #82
Target encoder I believe is specific to classification, as is leave one out. The remaining encoders should at least run, but may not be effective.  We should probably add a table specifying compatibility to the README or docs though, this has come up a few times.

[2018-06-19 01:09] #82 closed

[2018-06-19 05:54] dnks23 commented on #81
Hi,
I don't know any suitable reference/paper for this. But LightGBM has implemented this as well and there is a gitHub Issue where they talk about finding the optimal split for this kind of categorical encoding. [Linkg](https://github.com/Microsoft/LightGBM/issues/699)

[2018-06-22 17:31] sebastiangonsal commented on #82
I think in target for regression, we should be taking average of the label? while in case of classification  we are going to take the ratio. Are you doing that in the code? Can you point me to the code where you are doing the actual work.

[2018-07-05 14:11] #80 closed

[2018-07-07 17:43] mlisovyi opened #86 "categorical treatment by TargetEncoder"
There seems to be an issue with treatment of categorical issues by TargetEncoder.

If one subsamples the dataset (for example in CV), and categories have some classes with a small number of instances, then one can end up with 0 instances to fit on, but the category still keeps track of those 0-instance classes. In this case there is a division by 0 [here](https://github.com/scikit-learn-contrib/ca

[2018-07-11 09:31] kc004 opened #87 "Save training encoder value and use it in testing"
I am facing a problem with loading same encoding values in testing.

I encoded value using below code (Training side):
`from sklearn.preprocessing import LabelEncoder
    labelencoder_x_0 = LabelEncoder()
    labelencoder_x_0.fit(x[:, 0])
    x[:, 0] = labelencoder_x_0.transform(x[:, 0])`
also tried with .fit_transform()

On the Testing side I loaded model and tried to use the same encoding using

[2018-07-19 09:23] janmotl opened #88 "Compatibility with pandas<0.21.0 in binary.py"
I got an error:

[code]

After looking at the documentation https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html the issue was evident: `DataFrame.drop is using syntax introduced in pandas 0.21.0` but I was running pandas 0.20.1.

Nevertheless, that should have been ok as `requirements.txt` contains `pandas>=0.16.0`.

A possible solution to the issue is to change the f

[2018-07-20 14:40] janmotl commented on #86
I would just add that encoders fail not only on `category` columns but they also fail on unhashable columns like `List`, `Set`, `Dictionary` or `Array` (at least in `ordinal_encoder`).

[2018-07-20 15:52] wdm0006 commented on #88
That's a good point. Would you like to work on a PR for this?

[2018-07-24 18:30] janmotl commented on #46
@rhiever: PMLB is awesome! However, do you/can you provide datasets with unprocessed categorical attributes? When I looked at the repository, all categorical attributes were already encoded with one-hot or ordinal encoding.

[2018-07-25 17:21] #88 closed

[2018-07-25 23:47] discdiver commented on #64
Thanks for doing this. I was the original poster in stack overflow question referenced above. Too bad the question was downvoted in SO :(. Looks like this issue is closed now.

[2018-07-27 10:27] FelixNeutatz opened #91 "Differing dimensions for training and test"
Hi,

I would like to fit encodings on my training set and then using this fitted encoding to transform both the training and the test set:

[code]
The problem is that the dimensions do not fit. What do I do wrong or how can I fix this issue?

Best regards,
Felix

[2018-07-27 15:19] rhiever commented on #46
None of the datasets in PMLB have had a one-hot encoding applied. All
datasets have had a LabelEncoder applied to columns with non-numeric
values.

On Tue, Jul 24, 2018 at 11:31 AM Jan Motl <notifications@github.com> wrote:

--
Cheers,

Randal S. Olson, Ph.D.

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2018-07-30 10:43] ornelaxh commented on #71
@sebastiangonsal do you mean simply the counts of every category?

[2018-07-30 14:51] janmotl commented on #91
Observations:
1) This happens not only when a testing set contains a _new_ value, but also when the testing set does not contain _every_ value from the training set.
2) The issue also affects: BackwardDifferenceEncoder, PolynomialEncoder and SumEncoder.

[2018-07-31 15:01] multiloc opened #92 "Behavior of OneHotEncoder handle_unknown option"
I'm trying to understand the behavior (and intent) of the handle_unknown option for OneHotEncoder (and by extension OrdinalEncoder). The docs imply that this should control NaN handling but below examples seem to indicate otherwise (category_encoders==1.2.8)

[code]
In particular, 'error' and 'ignore' give the same behavior, treating missing observations as another category. 'impute' adds constant

[2018-08-01 09:55] janmotl commented on #46
I wrote a draft of the benchmark and it is at:
https://github.com/janmotl/categorical-encoding/tree/binary/examples/benchmarking_large

What it does: It takes 65 datasets and applies different encoders and classifiers on them. The benchmark then returns a csv file with training and testing accuracies (together with other metadata).

Some feedback?

[2018-08-02 14:21] FelixNeutatz commented on #91
So, is there some workaround to fix this issue?

[2018-08-04 09:35] janmotl commented on #91
The only workaround I see is to encode training and testing data together. However, this does not solve the deployment of the encoder.

[2018-08-04 11:00] janmotl opened #95 "Typo in BaseN encoder"
There is a publicly [documented](http://contrib.scikit-learn.org/categorical-encoding/basen.html) function called `basen_to_interger`, which should likely be named `basen_to_integer`.

[2018-08-04 13:17] FelixNeutatz commented on #91
Putting training and test data together would violate the principles of ML :(

[2018-08-04 23:49] wdm0006 commented on #46
@janmotl this is cool, would it be possible to add time-to-train and peak overall memory usage to the output from the benchmark?

[2018-08-04 23:50] wdm0006 commented on #95
Yup, that's a screw up, will refactor.

[2018-08-04 23:52] wdm0006 commented on #92
Handle unknown is for handing categories that were not present in the data at time of fit. So if you train an encoder on a categorical variable with categories A, B, and C, handle unknown specifies what to do with a newly observed category D if is shows up in transform.

NaN, is just another category. So if it's passed in as a NaN in the fit, then it's not unknown.

[2018-08-04 23:54] wdm0006 commented on #91
You seem to be passing in just a single list? Pass in a pandas dataframe or a numpy array (2d array, so in this case one column) instead and see if you get the same effect. The encoders that pass thru to statsmodels haven't been tested with list in types.

[2018-08-04 23:55] wdm0006 commented on #87
Label encoder is not from this project, please open this as an issue on sklearn's project.

[2018-08-04 23:55] #87 closed

[2018-08-05 10:43] janmotl opened #96 "Reverse_dummies() does not work well with undescrores in column names or values"
Reverse_dummies() in OneHotEncoder does not produce correct results when an original column name contains an underscore. OneHotEncoder adds an underscore before the attribute name (e.g.: `'attribute_name'`) and its value. But then we may get something like `col0 = 'attribute_name_13'` and the following code:
[code]
selects the second token `'name'` instead of the last token `'13'`. A possible fix

[2018-08-05 15:01] janmotl opened #97 "BaseN encoder should fillna only in generated columns"
Currently, BaseN encoder replaces NA/NaN values in the whole DataFrame:
[code]
However, I do not think that is desirable - categorical encoder should touch only columns that are (explicitly or implicitly) specified in `cols` parameter. The remaining columns should be left untouched.

A possible (although ugly) solution:
[code]

[2018-08-05 15:32] janmotl commented on #96
The same issue appears in BaseNEncoder class in basen_to_interger function.

[2018-08-05 17:53] janmotl opened #98 "LeaveOneOutEncoder with handle_unknown = 'error'"
LeaveOneOutEncoder contains following code:
[code]
that raises exception:
[code]
This happens when `impute_missing=True` and `handle_unknown = 'error'`.

[2018-08-06 00:03] #98 closed

[2018-08-06 00:04] wdm0006 commented on #97
Agree with the premise here, but you can do it without a for-loop:

`df[['a', 'b']] = df[['a','b']].fillna(value=0.0)`

Not sure if that's better or worse than  the inplace version though.

[2018-08-06 11:08] FelixNeutatz commented on #91
I get the same effect:
[code]

[2018-08-06 11:17] janmotl commented on #97
`X[fillna_cols] = X[fillna_cols].fillna(value=0.0)` is significantly faster than the loop.

[2018-08-07 11:47] janmotl commented on #46
@wdm0006 I added memory consumption of the encoders. The code utilizes `memory_profiler`. However, I am not overly happy with the deployment of `memory_profiler` because it heavily impacts the runtime and, in my environment, it also breaks debug mode and parallelism.

Time-to-train of the whole pipeline is logged as `fit_time`. Time-to-train of the encoder alone is  logged as `fit_encoder_time`.

[2018-08-07 13:08] alexHeu opened #100 "OrdinalTransformer changes column order"
Hi,

I'm evaluating the OrdinalTransformer for suitability in my project and noticed that it changes the column ordering.
After applying

df_transformed =  encoder.fit_transform(df)

the ordering of the columns does not match anymore. Is this behavior expected?

Regards
Alexander

[2018-08-07 18:13] rhiever commented on #46
One concern with the benchmark is that no parameter tuning is performed. One finding from our [recent sklearn benchmarking paper](https://arxiv.org/abs/1708.05070) is that the sklearn defaults are almost always bad, and parameter tuning is almost always beneficial. In terms of measuring predictive performance, it is likely that parameter tuning is important here.

Another concern with the benchmar

[2018-08-07 19:47] janmotl commented on #46
@rhiever I am concerned about the parameter tuning as well. However, I am more concerned about the parameters of the encoders than of the classifiers (simply because of the orientation of categorical-encoding library). My plan is to use the recommended settings of the classifiers from the referenced paper where available and only tune the parameters of the encoders. Do you have a recommended setti

[2018-08-07 23:01] rhiever commented on #46
The parameters recommended in Table 4 are a fine starting point, but as we suggest in the paper, algorithm parameter tuning (even a small grid search) should always be performed for every new problem.

wrt addressing the second issue I raised, the most popular solution is to use nested k-fold CV: within each training fold, perform k-fold CV for the parameter tuning. See [this example](http://sciki

[2018-08-07 23:04] wdm0006 commented on #96
Thats interesting, would you like to work on a PR for this?  Sounds like a good solution.

[2018-08-07 23:05] wdm0006 commented on #97
Great, are you interested in working on a PR for this change?

[2018-08-07 23:06] wdm0006 commented on #100
It should be consistent, so if you run that 100x, then the order of df_transformed should be the same for all 100 outputs. If its not idempotent, then that would be an issue.

[2018-08-09 10:16] janmotl opened #101 "drop_invariant on string columns"
The following code will fail if one of the columns is non-numeric (e.g.: because only some of the string columns were converted):
[code]

I see multiple options:
1. Measure variance of only numeric columns
2. Measure variance of only generated columns
3. Measure the length of the `unique()` result
4. Write a function, which compares `X[attribute, i] == X[attribute, i-1]` and returns on the first d

[2018-08-09 12:33] janmotl commented on #46
I have uploaded a csv with the [results](https://github.com/janmotl/categorical-encoding/tree/binary/examples/benchmarking_large/output).

Brief observations:
1. OneHotEncoding is, on average, the best encoder (at least based on testing AUC).
2. Each of the remaining encoders (out of the tested one) is on some datasets better than OneHotEncoding.

Notes:
1. Parameter tuning was not performed.
2. P

[2018-08-09 15:34] janmotl opened #103 "Move check_random_state in LeaveOneOutEncoder"
Following code in LeaveOneOutEncoder:
[code]
should possibly be moved from `fit()` method into `transform()` method, where the random number generator is actually used. Reasoning: I would  expect the following code to pass:
[code]
but currently it does not pass the test.

A possible place where to move it:
[code]

[2018-08-11 00:05] wdm0006 commented on #103
Agreed

[2018-08-11 00:52] #96 closed

[2018-08-11 00:53] #97 closed

[2018-08-12 11:57] hershaw commented on #100
## code to reproduce

Happening to me as well. Simple code to reproduce:

[code]

![image](https://user-images.githubusercontent.com/424192/44001715-c4f6c130-9e2e-11e8-9c5f-e4697ac820b5.png)

I have executed this lots of times, seems to be consistent behavior.

## environment

mac os x 10.11.6
python3.6

requirements.txt:

[code]

pip freeze:
[code]

[2018-08-12 12:43] hershaw commented on #100
It looks like there's some funny business [here](https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/category_encoders/ordinal.py#L255) during the encoding where a new column is created with the ordinal mapping applied with the same name as the original column with `_tmp` appended to it. Then the original column is deleted and the `_tmp` one is renamed to the original column.

[2018-08-16 10:59] FelixNeutatz commented on #91
Does anybody else have a solution?

[2018-08-16 13:21] janmotl opened #104 "Encoders that utilize the target should overwrite the default fit_transform()"
The default implementation of `fit_transform()` in TransformerMixin looks like:
[code]

However, if the encoder utilizes the target, we have to use something like:
[code]

If we do not pass the target `y` to `transform()`, the model will unnecessarily overfit.

A quick fix is to add:
[code]
into `LeaveOneOutEncoder` and `TargetEncoder`.

[2018-08-17 16:58] janmotl opened #105 "LeaveOneOutEncoder with handle_unknown = 'error'"
Should not the:

[code]
become something like:

[code]

or with a more detailed error message:
[code]
?

Reasoning:

1. `X` is after transformation - by definition it should contain new values (values unlikely to be in the mapping)
2. `x[1]` raises an error for me

Unit tests:
[code]

[2018-08-17 19:14] janmotl opened #106 "LeaveOneOutEncoder crashes when we attempt to retrain it on another dataset"
When we attempt to retrain the same LeaveOneOutEncoder:
[code]
it will fail while executing `enc.fit(X_b, y_dummy)` because internally, `enc` will attempt to _transform_ `X_b` while it should _fit_ `X_b`.

Possible solutions:

1. Return an error when a user attempts to retrain the encoder
2. Do what the user is asking for (e.g.: by splitting `leave_one_out` method into `leave_one_out_fit` and `lea

[2018-08-18 11:52] janmotl opened #107 "Typo in the documentation of TargetEncoder"
Typo: TargetEncode -> TargetEncoder

[2018-08-20 21:41] mark-mediware commented on #92
I'm having similar issues, although with categories not present in the fit data set:
[code]

User-error, I'm sure, but not exactly understanding how to populate the example -1 column with truly new categorical values.

[2018-08-20 21:55] wdm0006 commented on #107
Hey @janmotl, I've invited you to the org as a maintainer, please continue to make PRs for any significant features (typos are fine to commit directly). I'm traveling quite a bit right now, but will check in here when I can.

[2018-08-24 14:42] rhiever commented on #46
Here's box plots of the results grouped just by encoder. Across the board, BinaryEncoder & OneHotEncoder seem to be the top-performing encoders, although there may not be statistically significant differences there. HashingEncoder seems to be the worst on average.

![encoder-boxplot](https://user-images.githubusercontent.com/1719223/44590789-9c516580-a781-11e8-9555-f5df7c3260a5.png)

Likely worth

[2018-08-24 14:52] rhiever commented on #46
Here's the results grouped by encoder + classifier.

[code]

![encoder-clf-boxplot](https://user-images.githubusercontent.com/1719223/44591434-55fd0600-a783-11e8-8508-79bc5afde2df.png)

[2018-08-24 15:46] rhiever commented on #46
And here's grouping the other way around.

[code]

![clf-encoder-boxplot](https://user-images.githubusercontent.com/1719223/44594121-edb22280-a78a-11e8-8092-329ebd0b5fe3.png)

[2018-08-27 17:21] JohnnyC08 opened #109 "The fit method of TargetEncoder does not pass smoothing_in"
In the TargetEncoder the fit method does not pass smoothing_in into target_encode which causes the method to default to 1 for smoothing. Also, when we check transform we see that the smoothing_in is passed as the self.smoothing, but if we are calling transform after fit, then we don't even use smoothing_in since the mapping is already set.

I can submit a PR which sets the parameter and add a test

[2018-08-28 07:40] janmotl commented on #109
Both issues are valid. When we are performing the fitting, we should use`self.smoothing`. When we are transforming, we only need `mapping` - there is no need for `self.smoothing`.

PR with tests sounds great.

[2018-08-28 18:17] JohnnyC08 commented on #109
Closing as the fix was merged in

[2018-08-28 18:17] #109 closed

[2018-08-31 01:43] discdiver commented on #46
Good stuff. Thanks for doing this.

Getting a 404 when I try to see the csv of results at [https://raw.githubusercontent.com/janmotl/categorical-encoding/binary/examples/benchmarking_large/output/result_2018-08-09.csv](https://raw.githubusercontent.com/janmotl/categorical-encoding/binary/examples/benchmarking_large/output/result_2018-08-09.csv)

[2018-08-31 15:43] discdiver opened #114 "LeaveOneOutEncoder and TargetEncoder don't allow DataFrame for .fit y parameter. Bug/inconsistent behavior."
Bug/inconsistent behavior across encoders.

LeaveOneOutEncoder and TargetEncoder raise Value Error when pass a data frame as y parameter to .fit .

Passing a dataframe to .fit as y works for all other category encoders.

Replicated locally and on Kaggle.
pandas 0.23.4, category_encoders 1.2.8

Code:
[code]
---------------------------------------------------------------------------
ValueError

[2018-08-31 16:15] discdiver opened #115 "New release?"
Great package! Working on an article of Category Encoder's methods. Last release was 8 months ago - looks like quite few fixes and enhancements since then. Is a new release in the offing?

[2018-08-31 20:37] wdm0006 commented on #115
Hey @discdiver, thanks! I've been a bit out of the loop recently, my company got acquired so I've been traveling a lot (thanks to @janmotl for the help along the way). I need to carve out some time to bucket some issues into releases and cut a release for sure, we are long overdue. Will try to over the holiday.

[2018-08-31 21:10] discdiver opened #116 "LeaveOneOutEncoder not leaving one out"
Seems to be just taking the mean of the output for a given level of input.

Similar issue raised previously #38, not clear if OP's  issue was resolved. Code and actual and expected output are below.

No change with
[code]

Code:
[code]

Output:

[code]

Expected Output:
[code]

Please advise if I have something wrong.

[2018-09-01 04:47] janmotl commented on #116
I think the problem is that the default`fit_transform` method executes:
[code]
instead of:
[code]
The pull request is in https://github.com/scikit-learn-contrib/categorical-encoding/pull/110.

In the meantime, do not use `fit_transform` but use directly `fit` and `transform`.

[2018-09-01 21:36] discdiver commented on #116
That does it. Thanks @janmotl Thanks for all your work on the pull requests, too!

[2018-09-02 09:08] janmotl commented on #46
Updated results are now in PR #110 ([link](https://github.com/scikit-learn-contrib/categorical-encoding/blob/9e2385f00975bcba7926396c6563eb8488d778f6/examples/benchmarking_large/output/result_2018-09-02.csv)).

Notable changes:
1. Added Weight of Evidence encoder.
2. Impact encoders (Target encoder, Leave One Out and Weight of Evidence) should now correctly apply the corrections on the training da

[2018-09-02 14:43] wdm0006 commented on #115
So I've gone through some of the issues in the backlog and tagged those that are good candidates for a v1.3.0 release, many of which @janmotl has addressed in #110.

There are a handful of bugs that I think probably should also be resolved before a release:

 * #86
 * #91
 * #100
 * #105
 * #106

But the nature of some of them leads me to think that they will be easier to address once #110 is merg

[2018-09-03 18:40] janmotl commented on #107
Solved with #110

[2018-09-03 18:40] #107 closed

[2018-09-03 18:41] janmotl commented on #104
Solved with #110

[2018-09-03 18:41] #104 closed

[2018-09-03 18:41] janmotl commented on #103
Solved with #110

[2018-09-03 18:41] #103 closed

[2018-09-03 18:42] janmotl commented on #101
Solved with #110

[2018-09-03 18:42] #101 closed

[2018-09-03 18:42] janmotl commented on #95
Solved with #110

[2018-09-03 18:42] #95 closed

[2018-09-03 18:44] janmotl commented on #116
Solved with #110

[2018-09-03 18:45] #116 closed

[2018-09-03 19:13] janmotl commented on #59
@eyadsibai, the library now contains WOEEncoder. Can you check the newest code before it gets into the release?

The implementation is based on LeaveOneOutEncoder. And it implements regularization via Laplace correction. To my disappointment, the performance of WoE appears to be in all respects (runtime, training and testing accuracy) comparable to LeaveOneOutEncoder even if evaluated with logisti

[2018-09-04 03:11] discdiver commented on #46
Awesome @janmotl. Here's the latest performance chart. Interesting that WOE and LOO performed poorly.
![screen shot 2018-09-03 at 11 08 29 pm](https://user-images.githubusercontent.com/7703961/45008004-5e98dc00-afce-11e8-9b53-cd4639a2a887.png)

Why aren't the contrast encoders included in the analysis?

[2018-09-04 06:12] janmotl commented on #46
Yes, LOO and WOE overfit particularly with decision tree, gradient boosting and random forest.

Unfortunately, the graphs are not directly comparable because they are based on different subset of datasets.

Contrast encoders are not included because of issue #91.

[2018-09-04 14:48] #114 closed

[2018-09-04 15:32] discdiver commented on #46
Thanks @janmotl. It's interesting Target doesn't overfit, too.

Is it worth running all available encoders on the same subset only?

I would argue some encoders are only appropriate to ordinal or nominal features, so a blanket test like this probably doesn't really make theoretic sense, although it would be nice if it did.

[2018-09-04 15:35] janmotl opened #117 "Data Driven Testing"
I was thinking about applying data driven testing (ddt).

Why ddt:
1. `test_encoders` contains a lot of copy-pasted code
2. `test_estimators` already loops over all encoders
3. ddt, in comparison to a simple loop, does not stop on the first error (unless you tell it to do so) and reports results for each subtest (not just for the whole loop)
4. ddt makes it easy to quickly increase test coverage
5

[2018-09-04 18:54] wdm0006 commented on #117
I think this makes sense (the testing part), and think in this context a feature branch sounds fine. I'd caution though that we should build these tests alongside the existing test suite for now, and merge in regularly, rather than have a super-long-lived development branch.

[2018-09-05 18:30] coolaj86 opened #118 "module 'category_encoders' has no attribute '__version__'"
How does one dynamically determine the currently installed version of `category_encoders`?

`print(dir(category_encoders))` did not yield the results I expected (i.e. something named *version*).

[2018-09-06 14:36] janmotl commented on #118
Added variable `__version__` into `__init__.py`.

[2018-09-06 16:47] janmotl opened #120 "HashingEncoder does not accept handle_unknown argument"
Can HashingEncoder accept new values (values that are not observed in the training set) in the testing dataset?

If yes, it should possibly be noted in the documentation of the encoder.

[2018-09-06 16:54] janmotl opened #121 "inverse_transform() in BaseNEncoder does not raise an exception"
inverse_transform() in BaseNEncoder does not raise an exception when the test set contains a new value:

[code]

[2018-09-06 17:04] janmotl commented on #117
Pushed the solution into `tests` branch.

Changes:
1. runtime decreased from 90 seconds to 38 seconds on my laptop (mostly because of decreasing the dataset size from 1000 rows to 100 rows)
2. line test coverage of encoders increased from ~80% to ~94% (may vary based on the used definition)

Two tests fail. They are described in issues #120 and #121.

[2018-09-08 12:13] janmotl commented on #106
Solved with #119

[2018-09-08 12:13] #106 closed

[2018-09-08 12:28] janmotl opened #122 "All encoders should be recyclable"
Currently, when we rerun `fit()` on a trained encoder, the encoder does not get retrained.

The only notable exception is Leave One Out encoder (thanks to work of @JohnnyC08):
[code]

[2018-09-08 13:03] janmotl commented on #105
Solved with #110

[2018-09-08 13:03] #105 closed

[2018-09-08 13:03] #118 closed

[2018-09-08 18:05] coolaj86 commented on #118
Thank you for this. :)

[2018-09-09 16:40] janmotl commented on #46
I rerun the benchmark on older versions of the code. And by applying bisection method, it turned out that following code in LOO:
[code]
causes significant degradation of testing AUC (e.g. in case of decision trees from ~0.9 to ~0.5). Ironically enough, these lines were added into the code to activate leave-one-out functionality (see issue #116).

[2018-09-09 18:06] wdm0006 commented on #120
Yes, it can. Agreed on documentation, it behaves differently than many of the other encoders in that it does not maintain a dictionary of potential categories, you can throw whatever you want at it.

[2018-09-11 16:08] janmotl commented on #121
It looks like an error could be in the remaining encoders. OneHot, Binary and Ordinal use following code:
[code]
While BaseN uses:
[code]
Note the difference between `X[col] == 0` and `X[col] == -1`.

My hypothesis is that there should be -1 everywhere. 0 is merely a historical artifact from the time when 0 used to be used to mark unknown categories. Am I right?

[2018-09-11 18:20] janmotl commented on #117
By mistake, I have pushed into 'master' instead of 'tests' branch. I deeply apologize. I suggest to revert to commits 2394855f03ece9823a6182854e98e5f9d3a32e66 or b1993e09ce8b5aa21e5b6ffad19ae64f25d9311b.

Current state: All tests now pass. At least on my computer.

Errors reported by TravisCI:

1. `Failure: ImportError (No module named unittest2)` Resolvable by adding dependency into TravisCI. Som

[2018-09-14 18:20] wdm0006 commented on #117
CircleCI always fails, its just pushing docs. the failure is just that there are no tests, so thats ok.

TravisCI installs the packages in the install_requires in setup.py, but thats not appropriate for unittest2, just add that directly into the install.sh script in ci_scripts directory.

on (2), not sure.

On (3), not sure.

Do you have tracebacks for either of them?

[2018-09-14 18:20] wdm0006 commented on #121
Ah yes, should be -1 everywhere, 0 is legacy and causes issues. Should switch it to -1.

[2018-09-16 14:43] janmotl commented on #117
The last issue in TravisCI was resolved by removing a * import. Now I get it why everyone says not to use * imports...

@wdm0006, will you take care of CircleCI?

[2018-09-16 14:45] janmotl commented on #121
Resolved with commit https://github.com/scikit-learn-contrib/categorical-encoding/commit/037c7cdcbe133dcfea5f23809f74b903c599d457

[2018-09-16 14:45] #121 closed

[2018-09-16 14:48] janmotl commented on #120
Documentation extended with https://github.com/scikit-learn-contrib/categorical-encoding/commit/b418a2a44a65c4097378c582416f009df5e61ea3

[2018-09-16 14:48] #120 closed

[2018-09-16 14:49] #59 closed

[2018-09-19 10:35] oshev opened #123 "limiting statsmodels to version 0.8.0 causes problems"
Hi, why do you need to limit the dependency statsmodels to the version 0.8.0? This version can't be easily installed with the latest Cython, it throws exceptions. However, the latest version of statsmodels 0.9.0 installs easily. Can statsmodels be updated to 0.9.0 in requirements.txt?

[code]

After installing Cython with `brew install cython`, I still have the same problem.

[2018-09-19 15:48] deil87 opened #124 "Does TargetEncoder really implement leave one out approach as it's stated in the docs?"
"Target Encode for categorical features. Based on **leave one out** approach." - that is what [documentation](http://contrib.scikit-learn.org/categorical-encoding/targetencoder.html#category_encoders.target_encoder.TargetEncoder) says.

I know that published documentation does not represent the last version of the code and that is why I've taken a look at the sources on github. I have not found an

[2018-09-19 17:30] janmotl commented on #124
The documentation is misleading - the sentence refers to the fact that the implementation was done by modifying the code of LeaveOneOutEncoder. Nothing else.

I suggest to replace the description of the method with:
[code]
But better descriptions are welcomed.

[2018-09-19 17:56] janmotl commented on #123
It is because of https://github.com/scikit-learn-contrib/categorical-encoding/issues/69.

Nevertheless:
1. all tests in categorical-encoding library pass with statsmodels 0.9.0
2. pip on macOS 10.13 does not have any problem with 0.9.0
3. conda on TravisCI does not have any problem with 0.9.0

Hence, I removed the cap.

[2018-09-19 19:59] oshev commented on #123
Yes, 0.9.0 works fine with both pip and conda as you pointed out. Thank you so much for the fix!

[2018-09-20 05:14] #123 closed

[2018-09-20 06:33] janmotl commented on #124
That reads better. However, target encoder also works on regression problems...

[2018-09-21 11:07] kdmcdrm opened #125 "Backward difference encoding changes DataFrame column names"
This might be a quick one as it looks like it's intentional, I just don't understand why. I tried a BackwardDifferenceEncoder and found that it prepended all of my columns with "col_". Digging into the library I found that is done on backward_difference, line 195.

Is there a reason all columns get renamed, including those that are not transformed by the encoder? I am going to add a line to my pip

[2018-09-21 17:35] deil87 commented on #124
Yes it works. I don't see how we can squeeze in two things( expected value and probability) in one. But I think since expected value depends on the probability of the single event and continuous case could be seen as multi-categorical case.... we can probably use probability? wdyt? Or we can write down separate sentence  for each of the case.

[2018-09-22 12:43] janmotl commented on #124
Will you write the separate sentences?

[2018-09-25 10:42] janmotl commented on #124
Thank you!

[2018-09-25 10:42] #124 closed

[2018-09-25 13:47] janmotl commented on #125
This behaviour can also be observed in HelmertEncoder, SumEncoder and PolynomialEncoder:
[code]

[2018-09-27 05:38] JohnnyC08 commented on #91
@janmotl I want to know if we should include the columns, but as zeroed out.

In the test case Felix provided only col_0_0 and col_0_1 are being returned in the test set. In that case, should the columns for 2-9 also be returned with zero value or is there some other default value that should be used. You'll have to forgive me I am not overly familiar with helmert encoding and have only just start

[2018-09-27 10:30] janmotl commented on #91
All following encodings: BackwardDifference, Helmert, Polynomial and SumEncoder were designed that way that intercept has [zeroes](https://stats.idre.ucla.edu/spss/faq/coding-systems-for-categorical-variables-in-regression-analysis/) in all output columns.

Since it is reasonable to predict grand average for a categorical value that was never seen before, zeroes are reasonable.

[2018-09-28 03:40] JohnnyC08 commented on #91
@janmotl I guess I'm confused. From what you're telling me if there are unknown values passed into transform, then they should be involved in the calculation?

I've seen different encoders handle new cases differently.
In the one hot encoder transform, new values are simply represented by a row of zeroes.
For the target encoder, unknown values are either represented as NaN, if impute missing is fa

[2018-09-28 13:47] janmotl commented on #91
Ah, I should have said "that a _downstream model_ should predict grand average when a new value is observed".  "Row of zeroes" fulfills this requirement.

I wrote a few tests that should, in my opinion, pass:
[code]

It is likely that not all the tests are necessary and that some important tests missing... use your judgment. Furthermore, the tests represent my expectations, not the ground truth.

[2018-10-07 19:01] janmotl commented on #91
Solved with #128

[2018-10-07 19:01] #91 closed

[2018-10-07 19:04] janmotl commented on #125
Solved with #128

[2018-10-07 19:04] #125 closed

[2018-10-08 20:36] janmotl commented on #117
CircleCI is failing during `sudo apt-get update` with:
[code]
Knowing nothing better, I would suggest to check `/etc/apt/sources.list` and `/etc/apt/sources.list.d/*.list` and remove sources that no longer exists. Unfortunately, I think I do not have the necessary privileges to do the change.

[2018-10-09 00:38] brandonmichaelgarcia opened #130 "Difference in statsmodels dependencies in git vs pypi."
It seems that the git repo reports that there is a dependency on statsmodels >=0.6.0. However, the pip install has the requirement of statsmodels <= 0.8.0 and >=0.6.0. Removing the upper limit on the statsmodels dependency allows for simple install for python 3.7 development. Perhaps this is already on the to-do list?

[2018-10-09 02:42] JohnnyC08 commented on #86
@janmotl I ran the example above and I'm not getting the division by zero anymore because we removed that line when we opted to use the pandas group by instead.

So should we use this opportunity to try and support the category datatype? We can modify the `get_obj_cols` function to also check for the category data type if that's the route we wanted to go.

I tested the target encoder with a set an

[2018-10-09 07:28] janmotl commented on #130
We aim to publish a new release (#115) that will be without the upper cap.

[2018-10-09 12:44] janmotl commented on #115
@wdm0006 Can we do the release before #86? Reasoning: users have difficulties to install this library (#123, #130) and new release would solve it.

[2018-10-10 17:40] janmotl commented on #86
@JohnnyC08, the release depends on @wdm0006. Hence, go ahead with category data type support.

1. `get_obj_cols` has to be changed.
2. `test_types()` in `test_encoders` with categorical data type uncommented has to pass.
3. Documentation of the encoders will have to be changed from _all string columns will be encoded_  to something else. The front page is using _every non-numeric column will be en

[2018-10-13 00:12] fingoldo opened #131 "numpy arrays as inputs"
Does your package support this? I'd like to include ca in my regular sklearn pipelines, all of them are built using straight numpy arrays as inputs. However your documentation does not claim supporting it, neither any examples I was able to found. What am I missing? )

[2018-10-13 04:07] jvs opened #132 "OneHotEncoder incorrectly encodes -1 when use_cat_names is True"
When `use_cat_names` is True, OneHotEncoder incorrectly encodes values that equal -1.

Here's a minimal example:
[code]

This outputs:
[code]

I would expect `b` to have the same values as `a`.

[2018-10-14 14:08] wdm0006 commented on #115
Yeah, I think that makes sense. I'll do a minor release today.

[2018-10-14 14:10] wdm0006 commented on #117
I'll take a look at this, thanks for the investigation work @janmotl

[2018-10-14 14:11] wdm0006 commented on #131
Numpy arrays are supported, but if you pass numpy arrays you have to specify columns with integer indices not with column names.

[2018-10-14 14:16] wdm0006 commented on #130
v1.3.0 released

[2018-10-14 14:16] #130 closed

[2018-10-14 14:16] wdm0006 commented on #115
done, v1.3.0 out on pypi

[2018-10-14 14:16] #115 closed

[2018-10-15 15:49] janmotl commented on #131
Try to update to version 1.3.0, which was published yesterday. Something like this:
[code]
works for me.

Weight of Evidence (WOE) is available only from 1.3.0.

The mentioned line in TargetEncoder is not present in 1.3.0 anymore. Some basic tests of numpy inputs are in [test_encoders.py](https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/category_encoders/tests/test_encoders

[2018-10-15 17:43] fingoldo commented on #131
Thank you so much! Indeed it works now ) Turned out I had v. 1.2.8, plus it was installed with some issues.  In 1.3.0 I can confirm integer indices and numpy arrays are working )
However, can you please add to documentation a mentioning that, in case of using Pandas dataframe as input, it can't have a string index? I've had hard times figuring out why both TargetEncoder and LeaveOneOurEncoders wer

[2018-10-15 19:07] fingoldo opened #133 "K-fold target encoding to mitigate overfitting risks"
Dear maintainers, would you please consider adding into TargetEncoder module ability to compute target means by category in out-of-fold fashion using custom folds generator?

That way, at a fitting stage we would not just compute single values of smoothing for given category of a given column using all available rows. Instead, we would iterate y array fold by fold, computing mean/smoothing over ea

[2018-10-16 11:51] JoshuaC3 opened #136 "Implement Target Encoding with Hierarchical Structure Smoothing"
From section 4 of the [paper](https://kaggle2.blob.core.windows.net/forum-message-attachments/225952/7441/high%20cardinality%20categoricals.pdf) sited in TargetEncoding.

In other words, if we have a single zipcode 54321 but 100 zipcodes 54322 and 100 zipcodes 54323, we could use the mean of zipcode level 4 _5432X_ as our mean smoothing term for zipcode 54321, instead of the mean for all zipcodes

[2018-10-16 12:05] JoshuaC3 opened #137 "Count Encoding"
Although this is very simple to implement in Pandas or similar, it would be very nice to have this in here as a scikit compatible transformer. It is a good benchmark for high-cardinality feature encodings and having a quick "plug and play" would help users test this, particularly when doing KFolds over a scikit pipeline.

Happy to PR for this.

[2018-10-16 12:10] JoshuaC3 commented on #137
Once the standard CountEncoding is implemented we can also include kwargs [`log_transform=True`](https://www.slideshare.net/HJvanVeen/feature-engineering-72376750/11) and [`label_count_ranking=True`](https://wrosinski.github.io/fe_categorical_encoding/).

[2018-10-16 12:48] discdiver opened #138 "Update release version to 1.3.0 on GitHub"
Showing 1.2.6 on GitHub.

[2018-10-16 14:00] janmotl commented on #138
@wdm0006 Shouldn't this be handled by:
[code]
?

[2018-10-16 14:02] janmotl commented on #137
A PR would be greatly appreciated.

[2018-10-16 14:20] janmotl commented on #136
Can you write a PR?

Just an idea: it could also work on domains like `github.com` or emails like `name@company.com`. You would just specify a list of delimiters (by default it would work char by char/digit by digit) and whether the top level is on the left (as in the zip code) or on the right (as in domain). For simplicity of the implementation, the code could treat everything as a string and jus

[2018-10-16 14:43] janmotl commented on #133
Write a pull request and it will be added.

Is my understanding of the problem correct that the described behaviour could also be obtained by wrapping TargetEncoder into a KFold cross-validation, but the proposed solution has a benefit of potentially much better performance because statistics would be calculated just once?

[2018-10-16 14:56] JoshuaC3 commented on #137
@janmotl Very happy to take a look at this.

[2018-10-16 15:03] JoshuaC3 commented on #136
@janmotl that is a really nice idea. This does add a fair bit of complexity though.

I am a bit of a newb here and this seems a little complex so I am going to do https://github.com/scikit-learn-contrib/categorical-encoding/issues/137 first and see how I get on. If someone wants to pick this first then please go ahead.

[2018-10-16 15:44] fingoldo commented on #133
I think biggest advantage is having everything in one package and ability to use it in a pipeline ) thank you we will prepare PR in coming month and get back to you then )

[2018-10-17 13:03] janmotl commented on #132
Thank you. The treatment of missing values, which should be represented by -1, is truly broken.

[2018-10-19 09:04] janmotl commented on #86
Solved with #140

[2018-10-19 09:47] janmotl commented on #86
@JohnnyC08 To deal with different data types in `cols` argument, I suggest to simply create an utility function, which will convert the argument into a list. If a need to support another data type arises (or a need to perform argument validation like a check for duplicates), we will be able to do it from a single place.

A possible test:
[code]

[2018-10-19 13:25] datarian opened #142 "Ordinal encoder not encoding anything?"
When I run ordinal encoder on a pandas column of dtype object containing 55 unique values (integers, in fact) with 95412 rows
[data.pkl.zip](https://github.com/scikit-learn-contrib/categorical-encoding/files/2495974/data.pkl.zip), all I get back is a 1D-array of length 95412 , containing the indices of the columns that should actually be created.
I am passing the data in through a sklearn.ColumnTr

[2018-10-19 13:30] datarian commented on #142
Oooh, I just realized I did not really get ordinal encoding...

Never mind.

[2018-10-19 13:30] #142 closed

[2018-10-20 17:45] janmotl commented on #132
There is a clash of generated names in `get_dummies()`.

Specifically, when we have all the following:
1. `handle_unknown == 'impute'`
2. `use_cat_names == True`
3. the input contains `-1`

Then:
1. one column name with `-1` suffix gets created because `handle_unknown == 'impute'`
2. and another column name with `-1` suffix gets created because `use_cat_names == True` and the input contains `-1`

[2018-10-21 06:03] janmotl commented on #132
I was wrong. It is possible to create a DataFrame with duplicate column names:
[code]
It's just inconvenient to use the result (e.g.: indexing by name does not work).

So, I see two options:
1. return a DataFrame with duplicate column names
2. write a function, which generates unique names

I prefer the second approach. Go ahead.

[2018-10-21 12:34] janmotl opened #144 "OrdinalEncoder imputes missing values with 0 instead of -1"
Proposed fix:
1. Change a line with `transformed_column.fillna(0, inplace=True)`.
2. Write a test to make sure that the error does not repeat.
3. Truncate `test_inverse_transform()` - it is ok to raise an exception when the data were imputed.

[2018-10-21 13:09] janmotl commented on #144
However, that breaks other encoders:
[code]

[2018-10-23 02:52] jkleint commented on #136
From a design perspective, you probably want a general way to specify the hierarchical relationships between levels, and then convenience functions that produce this relationship structure for common cases.  That is, you'd still want to be able to use it even if your levels are random numbers with no meaning but for which you have a hierarchy.  You could also use say a clustering algorithm to infe

[2018-10-23 16:03] janmotl commented on #136
@jkleint I think I need examples.

Are we talking about branching based on the values? E.g.: Postal addresses. Some countries (like the USA) divide to countries. But other countries (like Switzerland) divide directly into cantons... And there can be (but doesn't have to be) a bigger difference between countries than between cantons. Hence, a support for branching based on the values makes sense.

[2018-10-23 23:48] jkleint commented on #136
Let's say I have categorical values whose names are meaningless:

[code]

But I have some external knowledge that tells me they nest into a hierarchy like so:

[code]

Then I need a way to specify which levels (and groups) go to which groups:

[code]

Hey that looks a lot like a dict (or Series):

[code]

And that's what I'm proposing to pass to `TargetEncoder`: a dict or Series that tells you the

[2018-10-24 07:39] janmotl commented on #132
Solved with #145

[2018-10-24 07:39] #132 closed

[2018-10-24 09:36] janmotl commented on #92
@JohnnyC08 I think we should handle new categories in `get_dummies`. A sketch of the test:

[code]

Just note that it is merely a proposal. And that OrdinalEncoder currently returns 0 when set to impute.

[2018-10-24 12:54] JohnnyC08 commented on #92
@janmotl Is it worth continuing to maintain `impute_missing`? The code itself says the field will eventually be deprecated. What are your thoughts on removing it and using just the `handle_unknown` field?

[2018-10-24 14:07] janmotl commented on #92
@JohnnyC08, @wdm0006, @jkleint We have to come with a plan how to deal with:
1. New categorical values in the scoring data.
2. Missing values (like NaNs) in the data.

My proposal:
1. Handle treatment of new categorical values in the scoring data exclusively with `handle_unknown` argument. The default value would be `'impute'` as is now. Some encoders, like HashingEncoder, are not going to have th

[2018-10-24 16:14] jkleint commented on #92
In practice, does that imply that e.g. OneHotEncoder would add two extra columns, one for NaNs and one for unknown (not trained on) values?

[2018-10-24 19:49] janmotl commented on #92
Yes.

TargetEncoder is in both scenarios going to return the global target average.
WOEEncoder is in both scenarios going to return 0 (this represents no information in WOE).
OneHotEncoder may populate `-1` column with 1 when a NaN is observed. And new categories may generate all-zero row (that is the the current behaviour).

Alternative options:
1. Keep handling of NaNs as it is and just document

[2018-10-25 08:57] rxp90 opened #147 "HashingEncoder returns bad row dimensions when index in DataFrame is not ordered"
Here's an example that doesn't work if I don't call `reset_index()` on the DataFrame:

[code]

`error.csv` is here https://pastebin.com/KggL1b7S

And this is the error:
`ValueError: blocks[0,:] has incompatible row dimensions. Got blocks[0,1].shape[0] == 102, expected 100.`

[2018-10-25 11:50] janmotl commented on #147
The problem is that the dataset contains a duplicate index value: `34493`.

Once the index is unique, the code seems to work.

[2018-10-25 11:57] janmotl commented on #147
All encoders but HashingEncoder seem to work:
[code]

[2018-10-25 16:00] JoshuaC3 commented on #136
@jkleint @janmotl personally, I don't feel this is the correct way to do this. I think we should be treating a single column in an array or dataframe as the sole data source of categories we wish to encode. Anything beyond this, IMHO, becomes feature engineering, not categorical encoding (ignoring the fact that some people might consider ce part of fe...).

I think we should have an option of spli

[2018-10-25 18:56] janmotl commented on #136
Another option: If TargetEncoder observes a column of dtype==list, it will treat the column as hierarchical with the first item being the top most level. And it would be up to the user to split (and potentially reverse) the input string (or whatever data type it was originally).

@JoshuaC3 I propose to first implement CountEncoder from #137. Then you may add `ascending=None` and `sep=None` into Ta

[2018-10-25 19:58] JohnnyC08 commented on #92
Ok, I like the proposal you list here https://github.com/scikit-learn-contrib/categorical-encoding/issues/92#issuecomment-432672278

Lets talk about what happens for each value of `handle_unknown`

1. impute
i. An indicator column will be added corresponding to unseen values in the test set, nan or otherwise

2. ignore
i. If there are nan in the training set, then the transformation is constructed

[2018-10-25 21:16] JoshuaC3 commented on #136
@janmotl I have started this.

Yes, I see that `ascending` is not as intuitive as I first though. Would be good to hear if there are any better key names for it. Otherwise, we can just make sure it is documented well.

[2018-10-25 23:36] jkleint commented on #136
I agree we don't want to be in the business of a million custom hierarchy-generating functions.  It's fine to have a function that makes hierarchies from delimited strings.  My point is you don't want that to be the *interface* to `TargetEncoder`.

I would hope you agree that not everyone's hierarchies are simple string prefixes?  Or not even strings?  The point is exactly that creating those conv

[2018-10-26 22:14] JohnnyC08 commented on #92
@janmotl Here are my thoughts

So, `handle_unknown` will be testing behavior only settings.
1. error- makes sense and should be easy to implement
2. ignore- I do agree that `return_nan` is better
3. value- makes sense, let the encoder decide what to do
4. rare group- I think this should only work if there are settings set during training to determine what is and is not a rare group and we should r

[2018-10-27 06:41] janmotl commented on #92
@JohnnyC08 I agree.

1. `rare_group` should be implemented later on. But if a column is not invariant, you can always define some category as "rare". But if you like to have some threshold on rarenes, let's say 5%, and no category satisfies this threshold, you may just define a new category value (as OrdinalEncoder does with `handle_unknown='value'`). Justification: If you are encoding 1000 column

[2018-10-27 14:18] JohnnyC08 commented on #92
Ok, I'm gonna take a pass at the OrdinalEncoder first because many of the encoders rely on it

[2018-10-28 07:31] janmotl commented on #131
Fixed with #150 (and previous changes) for all encoders

[2018-10-28 07:31] #131 closed

[2018-10-28 07:31] #147 closed

[2018-10-29 03:08] JohnnyC08 commented on #92
@janmotl I've rethought it and I have revised what I think.

So, `handle_unknown` should have

1. ***error*** - Raise ValueError when new value is encountered during transform
2. ***return_nan*** - Return nan as either a single value, for encoders that transform the column, or as a row of nan, for encoders that encode multiple columns,
3. ***value*** - Let the encoder decide how to handle it, so e

[2018-10-29 08:16] janmotl commented on #92
To conflicting thoughts:

1. **value** This is a dangerous proposal. What if `handle_unknown=error`? Then when we encounter NaN during the fit time, we will return a non-NaN value, and an error during the transform time? That is strange.

2. **return_nan** Yes. This way we give the user an opportunity to handle missing values any way they want to.

3. **indicator** We do not want to duplicate the

[2018-10-29 13:39] christopherbuhtz opened #151 "Unalignable boolean Series Error"
After the update to category_encoders version 1.3.0 we encountered the following error when working with subsets of DataFrames.

[code]

[code]
The error is only thrown after transform, the fitting part works fine. If instead I write:
[code]
...it works again. We encountered this behavior when splitting the data into training and test sets. The fitting on the training data worked but transforming

[2018-10-30 07:59] janmotl commented on #151
Yes, not all encoders in release 1.3.0 work with noncontinuous indexes. Nevertheless, all encoders in the current development version are tested to work with noncontinuous indexes.

Download the development version. If it solves the problem, you may close the issue.

[2018-10-31 18:39] janmotl opened #152 "Intercept column does not work properly with truncated indexes"
Intercept column sometimes contains `nan`:
[code]

[2018-11-01 14:00] Chandrak1907 commented on #81
I guess this feature is already implemented in ordinal encoding.

Below is from H2O:

Enum is for a categorical column whose values have no ordinal mean. For example you could have a column like eye color: brown, green, blue. You would use enum encoding here because brown eyes are not necessarily greater than green eyes, they are just different.

Label encoding assumes some sort of ordinal nature

[2018-11-01 15:37] xthomas8888 commented on #92
Newbie to encoding but actively watching this issue due to work.

In my opinions, there can be two ways of encoding 'nan' and unknown/unseen labels. First one is to allocate 'nan' and unseen labels all into the '-1' category during encoding; second one is to encode 'nan' as a category different from '-1' (get_dummies(dummy_na=True)).

When I was using this package, similar to @mark-mediware's case

[2018-11-01 18:49] janmotl commented on #81
I think @Chandrak1907 is right. Nevertheless, H2O has at least two potentially nice optional parameters:

Both of them can be relatively easily added into OrdinalEncoder. If someone wants to write a PR, please, go ahead.

[2018-11-03 14:12] eddiepyang commented on #46
Nice work on the benchmarking, do you have an updated link for the description?

[2018-11-03 16:07] janmotl commented on #46
@eddiepyang The benchmark is now in this repository under `examples/benchmarking_large`.

[2018-11-06 22:08] joshuahyatt opened #154 "OneHotEncoder value error when all categories are unseen for handle_unknown='ignore'"
<body>
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">

<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[1]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">from</span> <span class="

[2018-11-07 04:29] janmotl commented on #154
Thank you for the bug report.

It looks like the current development code treats these scenarios correctly. Since it will take a while until a new release is made, I have to suggest to use the code in the master branch.

[2018-11-10 21:13] WeihaoZeng commented on #151
I have a same error when I used TargetEncoder in sklearn pipeline.

[2018-11-12 08:55] nikwerhypoport commented on #151
Hey, we solved this by forking the dev branch of the project and doing our own release.
Despite the mentioned error, the version 1.3.0 has severe performance issues, which seem to be fixed in the development version as well.
Maybe we can close the issue, when a new official release is out.

[2018-11-12 09:33] janmotl commented on #151
@nikwerhypoport Thank you for the report. The current development version indeed has 2 advantages in comparison to the version 1.3.0:
1. Some of the encoders were vectorized (Ordinal, LeaveOneOut, OneHot, TargetEncoder, WOE). That delivered significant speed up.
2. All encoders are tested to work with noncontinuous indexes.

Furthermore, there is an undergoing work to document and improve handling

[2018-11-16 17:03] janmotl opened #155 "Support Numpy arrays as target columns"
Currently, the encoders do not accept Numpy arrays as `y`, even if the array contains just a single column/row:

[code]

Maybe we could write an utility function in `utils.py` that would take care of converting the input into pd.Series? Something similar to `convert_input(X)` function?

[2018-11-18 12:03] janmotl commented on #155
Proposed function:
[code]
Test:
[code]

[2018-11-29 10:43] intern1knowdis commented on #40
@chappers the link does not work :disappointed:

[2018-11-30 13:51] janmotl commented on #40
The article is still available from:
	https://dl.acm.org/citation.cfm?id=507538

[2018-12-09 05:30] jiangxiaoshaui opened #157 "Are you sure ahout the speed of target-encoding？"
I actually didn't know what had happened, but it's real a thing. When i used target encoding transform my 'id' ,it was fifth time, yes, it's still work, but it took me the whole afternoon.I think i got a problem.

[2018-12-09 06:33] janmotl commented on #157
Which version of the library do you use? Is it from pip or the master branch on git?

[2018-12-09 21:00] janmotl commented on #157
The version in the master branch should be significantly faster than the version from pip.

[2018-12-10 05:42] jiangxiaoshaui commented on #157
thanks

[2018-12-10 23:25] WithPrecedent opened #158 "Pickling TargetEncoder"
I'm having difficulty applying a fit TargetEncoder to new data. For the model creation, these are the key portions of my code:

encoder = ce.TargetEncoder(cols = cols)
encoder.fit(X, y)
X = encoder.transform(X.reset_index(drop = True))
pickle.dump(encoder, open(export_path, 'wb'))

I also tried assigning the fit encoder to a variable and pickling that variable (hoping it would make a difference):

[2018-12-11 14:53] janmotl commented on #158
I tested the master branch against a following test:
[code]

And it worked. Hence, I would suggest to try the target encoder from the master branch (and not from the release).

[2018-12-12 19:09] WithPrecedent commented on #158
Thanks. Everything seems to work now (with dumps/loads and dump/load).

[2018-12-12 19:09] #158 closed

[2018-12-25 15:08] wdm0006 opened #159 "1.4.0 Release Organization"
Hey all, been away from the project for a bit, but I'm going back through all of the issues and PRs worked on recently (looks like a bunch of good progress!). Special thanks to @janmotl for all of the work as primary maintainer over the past months.

Our last release was 1.3.0 on October 14th.  Since then ya'll have:

- Sped up the TargetEncoder and LeaveOneOutEncoder w/ vectorization (significant

[2018-12-25 15:12] wdm0006 opened #160 "Structured Release Process"
Historically this project has done releases based on when I felt like doing a release, or when someone explicitly opened an issue asking for one. That's not great.

I'd like to discuss how this community would like to do releases (scheduled? based on key features/bug fixes?), codify that in a markdown file in the repo, and then support that via the CI and defined processes, roles, and responsibili

[2018-12-25 15:13] #157 closed

[2018-12-25 15:14] wdm0006 commented on #154
This will be in v1.4.0, working on closing out that release now, so closing this issue.

[2018-12-25 15:14] #154 closed

[2018-12-25 15:16] wdm0006 commented on #151
This should be in v1.4.0, a release being worked on now, closing this issue.

[2018-12-25 15:16] #151 closed

[2018-12-25 15:17] wdm0006 commented on #138
Yeah, pypi-publisher stopped working with the new pypi at some point, so the recent couple of releases have been w/ twine. Current version on pypi is v1.3.0, working on v1.4.0 now. When we do the v1.4.0 release, I'll update pypi-publisher to make sure it shows up on github as well.

[2018-12-25 15:17] #138 closed

[2018-12-25 15:20] #70 closed

[2018-12-25 15:20] #64 closed

[2019-01-02 14:21] fullflu opened #161 "Multi-hot encoding for ambiguous input"
I propose to implement simple multi-hot encoding which allows ambiguous input and outputs non-negative value.

Let x_j be a realization of department of a student.
Usually, we assume that x_j is defined without ambiguity, such as mathematics, physics, and so on.
In real-world dataset, however, we sometimes only know the ambiguous value, such as sciences. I want to encode such ambiguous categorical

[2019-01-03 15:55] janmotl opened #163 "test_string_index() raises a warning"
When we execute `test_encoders.test_string_index()` on LeaveOneOutEncoder, it raises a warning:
[code]

[2019-01-04 07:15] fullflu commented on #161
Thank you for your response.

OK, I will write a blog that uses this encoder reflecting the discussion in the Pull-Request.

[2019-01-05 15:36] janmotl opened #164 "New target encoders"
Branch `new_target_encoders` contains 3 new variants of TargetEncoder (log-odds ratio estimated with empirical Bayes, likelihood estimated with empirical Bayes, and m-probability estimate). They are all quite similar. But since all the contrast encoders (like SumEncoder or HelmertEncoder) have their own separate file, so do these.

Should they be added into the master branch?

[2019-01-05 20:30] janmotl commented on #159
It has to be noted that v1.4.0 also introduces braking changes: arguments `impute_missing` and `handle_unknown` are now called `handle_missing` and `handle_unknown`. And their possible values have changed.

[2019-01-05 20:44] janmotl opened #166 "Metadata for encoders"
It should be possible to programmatically differentiate between encoders that:
1. Do not require any target during fitting (like OneHotEncoder).
2. Require some target during fitting (like TargetEncoder).
3. Require binary target during fitting (like WOE).

This information would be useful for:
1. Parameterized tests.
2. Users that wonder, which encoder they may use.

Proposed implementation:
Like

[2019-01-06 00:33] wdm0006 commented on #159
Hm good point, probably should be a major release then.

[2019-01-08 12:59] PGijsbers commented on #164
Hi there, I happened upon this issue as I was looking for these different smoothing functions with target encoding. First off thanks for the work :)

However, I did feel the need to point out that the amount of code duplication that exists with the presented setup is (in my opinion) not a good idea for long term management of the package. I would strongly encourage sharing implementations for meth

[2019-01-08 15:45] janmotl commented on #164
Another approach could be to move all the shared code into a common class and inherit from this common class. If the common class was designed reasonably, the derived classes would not contain a lot of duplicate code.

What has to be considered:
1. Each encoder performs 'handle_missing=value' and 'handle_unknown=value' slightly differently. Some impute with zero. Other with the prior probability.

[2019-01-08 17:08] janmotl commented on #164
Ok. Go ahead with the code.

[2019-01-08 17:22] PGijsbers commented on #164
Cool :) though as noted before I don't know when I will have the time to do so. Do you think it makes sense to fork off the `new_target_encoders` branch or create a new branch in the fork?

[2019-01-09 11:40] janmotl commented on #164
I would fork the branch. But whatever works for you.

[2019-01-20 13:38] janmotl commented on #164
I merged James-Stein estimators together. And that has left m-estimator alone. The code is now in the master branch.

[2019-01-20 13:38] #164 closed

[2019-01-20 14:06] janmotl commented on #92
Solved by @JohnnyC08

[2019-01-20 14:06] #92 closed

[2019-01-20 14:07] janmotl commented on #79
Solved in #141

[2019-01-20 14:07] #79 closed

[2019-02-05 22:37] amueller opened #167 "Question: Difference between TargetEncoder and LeaveOneOutEncoder"
It's not really clear to me what the difference between TargetEncoder and LeaveOneOutEncoder, as both encode using the target with leave-one-out. Can you maybe clarify and clarify this in the docs?
Does either work for multi-class classification?

[2019-02-05 22:39] amueller commented on #159
have you run ``check_estimator`` on these or is that not possible right now?

[2019-02-05 22:47] amueller commented on #166
How would you do that with scikit-learn / how do you want to implement this?

[2019-02-06 15:17] janmotl commented on #167
It is best to look at some references:
1. http://dx.doi.org/10.1145/507533.507538
2. https://pkghosh.wordpress.com/2018/06/18/leave-one-out-encoding-for-categorical-feature-variables-on-spark/

There are two differences. Assuming binary classification:
1. TargetEncoding returns a weighted average of p(y|x) and p(y). LeaveOneOut does not calculate the average - it just returns an estimate of p(y|x)

[2019-02-06 15:32] janmotl commented on #166
I though that there is some standardized way. But I did not find any reference. Options:
1. Create a few abstract classes. And based on the inheritance we could learn the properties of the encoders.
2. The encoders could implement a couple of methods like 'accepts_continuous_target()' and 'accepts_binary_target()' or implement a single method like [supportsCapability](https://github.com/rapidminer

[2019-02-06 15:33] janmotl commented on #159
It would be nice to pass 'check_estimator'.

[2019-02-06 16:06] amueller commented on #167
will do. The documentation explicitly says that TargetEncoder uses leave-one-out. So that's wrong?

[2019-02-06 16:08] amueller commented on #166
The easy / hackish thing to do would be inspecting the signature and see if y is a required argument.
There's hopefully soon estimator tags in sklearn which will allow you to specify this kind of information but they are not really standardized yet.

[2019-02-06 16:42] janmotl commented on #166
I found it: https://scikit-learn.org/stable/developers/contributing.html#estimator-types

[2019-02-06 17:16] amueller commented on #167
wait, transform takes a ``y``? That's not scikit-learn api... but I guess that's a different issue.

[2019-02-06 17:41] janmotl commented on #167
Yes, that's an incompatibility with scikit-learn. LeaveOneOut needs 'y' in order to transform the training data correctly. Of course, the encoder could remember the training 'y', but then the trained encoder would be large even in the deployment...

[2019-02-06 22:58] amueller commented on #167
large meaning number of categories times number of classes, right? That doesn't seem so bad. What does transform do if you only have a single test example? Usually scikit-learn assumes that the test examples are independent, and so running them through one-by-one should give the same result.

[2019-02-06 22:59] amueller commented on #166
Yes, but that doesn't tell you for a transformation whether it requires ``y`` to fit (I probably wrote that section).

[2019-02-07 08:36] janmotl commented on #166
In that case it looks like you are the right person to discuss it.

I am not picky about the used names or the exact mechanism in which it is implemented. The required functionality could be implemented with the following tags:
 - [ ] supports continuous target
 - [ ] supports binomial target

I used term "target" instead of the more common "label", because "target" works well for both, continuous

[2019-02-07 08:50] janmotl commented on #167
Large in the sense that we have to remember the whole 'y' because we have to know the target value for each training sample.

Another workaround could be that 'fit()' would return the transformed training set. But I am not sure that it would improve compatibility with scikit-learn.

The encoders adhere to this logic as well. Leave-one-out is applied only on the training data in order to decrease t

[2019-02-07 16:08] amueller commented on #167
Wait, so how do you distinguish between training and test set for ``transform``?
You have the y for training and not for the test set?

In sklearn I think we're slowly going in the direction of allowing ``fit_transform`` to do something else than ``fit().transform()`` and ``fit_transform`` is for transforming the trainingset.

[2019-02-07 19:29] gammadistribution commented on #159
Hey @janmotl, do you happen to know when the new version would be released?

If there are remaining tasks, I can help to close them if desired.

[2019-02-07 19:52] janmotl commented on #167
You have the y for training and not for the test set?

Correct.

In our case, `fit_transform` returns `self.fit(X, y, **fit_params).transform(X, y)`. So, it is intended for training set.

[2019-02-11 09:23] janmotl commented on #166
Another useful metadato could be:
- [ ] supports inverse transform

This could help for example in `test_inverse_transform`

[2019-02-11 09:40] janmotl commented on #144
Solved by @JohnnyC08 .

[2019-02-11 09:40] #144 closed

[2019-02-11 09:44] janmotl commented on #152
Solved by @JohnnyC08 . Added test into `test_encoders`.

[2019-02-11 09:44] #152 closed

[2019-02-11 12:10] #155 closed

[2019-02-11 13:32] janmotl commented on #159
@JohnnyC08 , don't you know how to deal with "errors" like:
[code]
as reported at: https://travis-ci.org/scikit-learn-contrib/categorical-encoding/jobs/491609594 ?

[2019-02-11 17:47] JohnnyC08 commented on #159
@janmotl I will pull the latest master and see if I can reproduce locally

[2019-02-12 14:02] janmotl commented on #159
Beside the failing Travis CI (I didn't manage to reproduce the error with nosetest on my local computer), the code should be ready for release 2.0.0.

[2019-02-14 00:31] gitwhistle commented on #151
How do I download the development version?

[2019-02-14 07:37] janmotl commented on #151
For me, following works:
[code]

[2019-02-26 16:37] janmotl opened #168 "Encoders should possibly validate string arguments for validity"
Recently I executed `TargetEncoder(handle_missing='indicator')` without any issue and it surprised me a bit.

A possible solution:
[code]

[2019-03-12 20:56] amueller commented on #166
Sorry for the slow reply. In sklearn we generally use the word target, and I don't think we use "binary" to be 0 and 1, we use it to mean any two-class classification problem. But you can also extend the encoders to multiclass pretty easily, right?

[2019-03-13 08:12] janmotl commented on #166
Good to know that we are aligned. The binary encoders can be extended to work on multiclass. But I would hesitate to call it easy.

And I started to call target encoders "supervised" and non-target encoders "unsupervised". The advantage is that this terminology describes the encoders well and people are already familiar with the terms.

[2019-03-28 04:19] macwanj opened #176 "Ordinal Encoder encodes unseen values to 0 with 'impute'"
From the docs, I am expecting to see the `OrdinalEncoder` impute unseen values to -1. Instead, it encodes it to 0. Is this a change in design or a possible bug?

[code]

[2019-03-28 15:58] janmotl commented on #176
You are right. This bug is fixed in the current master branch:
[code]
Returns:
[code]
Just note that the API of missing and new value handling changed slightly.

Once a new release is made, this issue can be closed.

[2019-03-28 16:05] macwanj commented on #176
Good to know, thanks

[2019-04-02 19:51] ayush1999 opened #177 "Mean encoding for categorical featurers"
I was looking at the docs at couldn't find the mean encoding implementation. Did I miss something, or is it not implemented yet?

[2019-04-02 20:05] ayush1999 commented on #177
Oops, I missed TargetEncoder. Closing this.

[2019-04-02 20:05] #177 closed

[2019-04-05 19:35] stuppie opened #178 "Release on Pypi?"
The latest release on Pypi was a year and a half ago. Could it be updated? Thank you in advance

[2019-04-06 13:05] Saisuchith commented on #133
Do we have the functionality now in category encoders library ?

[2019-04-06 16:01] janmotl commented on #133
It's not implemented. PRs are welcomed.

[2019-04-09 19:56] dbur opened #179 "Target encoding a feature where multiple values are allowed?"
I don't believe I saw it, but does this library currently handle this sort of data? The simplest example I can think of is items in a shopping cart. Order of items don't matter, more than one item can be in the cart, there are many possible values, and many many unique combinations.

If support for this doesn't exist, I am curious as to whether target encoding would be a reasonable approach for re

[2019-04-10 10:39] janmotl commented on #179
The library does not currently support that. But PRs are always welcomed.

A simple workaround is to sort all items in the cart alphabetically, so `[A,B]` and `[B,A]` will always be represented by `[A,B]`. And then treat the values in the cart as strings. Then you can use TargetEncoder. The good thing is that the downstream model can still model interactions between the items. The disadvantage is

[2019-04-10 10:46] janmotl commented on #178
@wdm0006, could we make a new release? It would solve #176.

[2019-04-10 10:48] janmotl commented on #163
The issue does not manifest anymore in the master branch

[2019-04-10 10:48] #163 closed

[2019-04-10 20:10] datarian opened #180 "OrdinalEncoder has extraneous nan column when using handle_missing = nan"
I discovered this recently. It's not a real problem because it's a constant column with all zeros, but still it's not nice and might lead to problems because there's an extra column added and hence dimensions not as expected.

I suspect it originates in the crude way that feature_names are constructed during fit() (which I have to blame myself for...) but did not have the time to really dig into i

[2019-04-17 02:33] wdm0006 commented on #159
@janmotl sorry for the delay, I'll take a look at a 2.0.0 release here shortly.

[2019-04-17 02:35] wdm0006 commented on #159
@janmotl actually, to avoid delays like this in the future, it'd probably make sense to add you as a collaborator on PyPI.org right? If you send me your PyPI username I can add you to the project there.

[2019-04-17 09:48] janmotl commented on #159
Good. My PyPI username: `janmotl`

[2019-04-17 12:57] janmotl commented on #180
Hi @datarian, can you elaborate?

When I run:
[code]
the last column is constant. But it is supposed to be constant because the feature is constant in `np_X_t`.

Just to be sure, we can run it on data without the last column being constant:
[code]
Also works as expected.

[2019-04-17 14:20] wdm0006 commented on #159
@janmotl should be a maintainer there now, please check and let me know.

[2019-04-18 08:33] janmotl commented on #159
Thank you, @wdm0006. I am now a maintainer. Do we have a procedure how to make a release?

[2019-04-21 13:44] michael135 opened #181 "Issue with `TargetEcoder` when pandas index is not sorted"
Very simplie example:

[code]
Has the following error:

[2019-04-21 13:46] michael135 commented on #181
The solution:
is to add the follwing line:
 ```X_train.reset_index(drop=True, inplace=True)```

I would suggest to add, some mention to documentation, regarding the issue with dataframe indexes.

[2019-04-21 15:30] janmotl commented on #181
Thank you for the report. I believe this issue is already fixed in the current master version.

@wdm0006: Once a new release is made, this issue can be closed.

[2019-04-23 04:18] bkj opened #182 "Example of TargetEncoder w/ categorical target"
Is there an example of using `TargetEncoder` w/ a categorical target variable?  The docstring suggests that it should be possible, but I don't see how the code is determining that `y` is continuous vs. categorical.

Am I supposed to pass categorical `y` as a vector of strings? As an `(n_obs, n_classes)` array of one-hot encoded labels?  I tried a few things, but they don't seem to work.

The code

[2019-04-23 08:44] janmotl commented on #182
All encoders should accept `pd.Categorical`:
[code]
But `TargetEncoder` does not accept that. Hence, that is a bug.

---
Also, I am not sure that `TargetEncoder` currently handles polynomial targets correctly. The way it should handle it is described in article _A preprocessing scheme for high-cardinality categorical attributes in classification and prediction problems_  in section _Extension to M

[2019-04-23 13:21] bkj commented on #182
OK thanks.  What do you mean by polynomial targets?

[2019-04-23 14:32] janmotl commented on #182
In unit tests, we currently test only targets with `{True, False}`. That's insufficient.

Since each supervised encoder (e.g.: `TargetEncoder`, `WOEEncoder`,...) should support binary targets, we should test each encoder with following targets:

1. Strings like: {'Apple', 'Banana'}
2. Integers like: {-1000, 2000}. I used "ugly" numbers since if it works for them, it should also work for "nice" num

[2019-04-23 14:43] bkj commented on #182
Ah ok -- I was confused by the term "polynomial".  I think a more standard term is "multiclass classification" for classification w/ more than 2 unique values.  "Polynomial" makes me think of `f(x) = a * x ** 2 + b * x + c`...

[2019-04-25 18:43] wdm0006 commented on #159
@janmotl not very formally, I usually just up the version in setup.py, run update_docs.sh and use twine to publish to pypi. Would you like to give that a shot and I can help out with any issues that crop up.

[2019-04-28 13:05] janmotl commented on #159
Done. Could you check it?

[2019-04-30 19:38] Casyfill opened #184 "Issue using RandomizedSearch with TargetEncoder"
I am running TargetEncoder as part of the Pipeline I am trying to tune using RandomizedSearch.
However, I am getting issues:
[code]
Is it a bug or am I missing something?

[2019-05-01 13:54] janmotl commented on #184
That looks like a bug. Can you provide a code that generates the error? Also, which version of categorical-encoding do you use?

[2019-05-07 06:59] janmotl commented on #181
Version 2.0.0 is out.

[2019-05-07 06:59] #181 closed

[2019-05-07 07:00] janmotl commented on #176
Version 2.0.0 is out.

[2019-05-07 07:00] #176 closed

[2019-05-07 07:00] janmotl commented on #178
Version 2.0.0 is out.

[2019-05-07 07:00] #178 closed

[2019-05-07 07:12] janmotl opened #188 "Integration with CircleCI is broken"
It looks like it is necessary to switch from CircleCI 1.0 to CircleCI 2.0 configuration file.

[2019-05-07 07:15] janmotl opened #189 "Coverage status in README.md is broken"
@wdm0006, this may require your intervention.

[2019-05-07 11:15] janmotl opened #190 "Error handling in inverse_transform is broken"
Inverse_transform should ideally handle absence of the columns dropped because of `drop_invariant=True`. But if it is not possible, `inverse_transform()` should at least return the correct error message instead of just crashing.

Example in form of a parameterized unit test:
[code]

[2019-05-07 11:19] janmotl commented on #189
@wdm0006, this is up to you. See also: https://github.com/scikit-learn-contrib/categorical-encoding/issues/117#issuecomment-427970851

[2019-05-07 11:20] #117 closed

[2019-05-15 10:53] willrazen commented on #182
I observed the same lack of functionality. Then I went after Barreca's paper to find out what was missing, and basically what is proposed is:

1. One-hot-encode the categorical target variable, except one category (so they are linearly independent)
2. For each new binary target, encode the categorical independent variable with the proposed technique for binary target (i.e. several new predictors w

[2019-05-15 13:15] janmotl commented on #182
The implementation of the referenced article is at: https://github.com/aslakey/CBM_Encoding

In short: instead of returning just "the average of the target", as TargetEncoder does, it also returns "the variance of the target". And that's definitely interesting.

However, when we execute https://github.com/aslakey/CBM_Encoding/blob/master/run_dirichlet_experiments.py on car data set, which has labe

[2019-05-29 09:14] yashjakhotiya opened #192 "Contrast coding schemes for multiclass labels"
How would you encode high cardinality categorical variables if the target variable is another high categorical variable? Can not use OneHotEncoding because of high cardinality. Can not use LabelEncoding because there is no inherent order. Can not use Target Encoding / Contrast Encoding because they all compute 'mean' of the target variable, which in case of multiclass labels won't make any sense.

[2019-05-29 10:39] janmotl commented on #192
This topic was discussed in issue #182.

If the label has a low count of unique values (e.g.: less than 30), it is possible to extend TargetEncoder (as discussed in #182) and it will work well (given enough training data).

If the label has truly high cardinality (e.g.: more than 1000 unique values), consider using HashingEncoder.

[2019-05-29 11:12] yashjakhotiya commented on #192
Thanks for the response. The target label has more than 100 possible values. I don't think OneHotEncoder on target variable/ one vs all method/ training multiple predictors is a feasible approach. By HashingEncoder, do you mean using it on the target variable and then use extended TargetEncoder or directly using HashingEncoder on the categorical features?

[2019-05-29 12:08] janmotl commented on #192
Directly use HashingEncoder on the categorical features. The advantage of this encoding is that the count of the generated features does not depend on the cardinality of the features nor the cardinality of the label (as it is an unsupervised method just like OneHotEncoder).

[2019-06-03 13:10] bdubreu-adeo commented on #167
Hello !

Well, except it doesn't exclude anything:

`liste1 = ['a','b','a','b','a','b']
liste2 = [1,2,1,4,1,6]
df=pd.DataFrame(np.array([liste1, liste2]).transpose())
df.columns = ['category', 'target']
df`

gives this :

category | target
-- | --
a | 1
b | 2
a | 1
b | 4
a | 1
b | 6

`encoder = ce.leave_one_out.LeaveOneOutEncoder(cols=['category'], return_df=True)
encoder.fit(df['category'], df['t

[2019-06-03 15:09] janmotl commented on #167
I think the documentation should be more clear about it. LeaveOneOut excludes the current row only in `fit_transform(X, y)` method. When `transform(X2)` is used, no exclusion is performed (as the count of rows in X2 can be different from the count of rows in Y... we do not have any other choice).

The idea is, that leave-one-out estimate is used only for training of the downstream model, in order

[2019-06-03 15:28] amueller commented on #167
FYI the difference between ``.fit().transform()`` and ``fit_transform()`` is something we have discussed in sklearn but haven't gotten any consensus yet. It's surprising behavior for the user because it violates one of the sklearn API contracts  but it also makes a lot of sense here and it's hard to come up with a better API.

[2019-06-04 13:57] bdubreu-adeo commented on #167
Thank you for your answers. By perusing the other threads I had managed to figure this out. I have no clue about the documentation. Perhaps one example of classic TE should be followed by a LOO TE using the same example as the slides from Owen ?
Anyway, thank you for your work!

[2019-06-05 09:59] viglia opened #193 "OrdinalEncoder raising an exception"
I'm trying to encode some ordinal features as described in the doc:

[code]

The code above, though, raise the following exception:

[code]

[2019-06-05 15:52] janmotl commented on #193
I can replicate the issue.

Did you generate `ordinal_cols_mapping` by hand? I think we are not supposed to use tuples like `('Ex',4)` but a map like `'Ex':4`. See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html

If that confirms, I will update the doc and add a unit test.

Btw., it is also possible to use `pd.Categorical` attributes with `ordered=True` to define

[2019-06-05 22:29] karolsputo opened #195 "BinaryEncoder assigns labels starting from 1"
I'm trying to encode some categorical variables and I found that I'm getting too much dimensions due to BinaryEncoder starting labeling from 1 instead of 0.

I'm working on the same mushroom data as in the examples (described in this blog post in detail http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/).

In there Will is using a simple BinaryEncoder wi

[2019-06-06 09:26] janmotl commented on #195
1. I guess we have to add seed to cross-validation (maybe with `np.random.seed(value)`?) in order to get reproducible results.
2. I guess that with `handle_missing='error'` and `handle_unknown='error'` you should get fewer features (some combinations of the values can be reserved for handling missing and previously unseen values in the scoring set).

Does the second paragraph solve the issue? If y

[2019-06-06 14:17] viglia commented on #193
Thanks for the quick reply.

Yes I did generatre `ordinal_cols_mapping` by hand.

It seems like the right syntax to use according to the doc. See http://contrib.scikit-learn.org/categorical-encoding/ordinal.html

[2019-06-06 14:41] janmotl commented on #193
Yes, the documentation is outdated.

The new syntax looks like:
[code]

[2019-06-28 16:06] Tallic opened #196 "BaseNEncoder: inverse_transform is incompatible with Numpy inputs"
Listing
[code]

will lead to a `TypeError: 'deep' is an invalid keyword argument for this function` exception contradicting the [API documentation](http://contrib.scikit-learn.org/categorical-encoding/basen.html#category_encoders.basen.BaseNEncoder.inverse_transform) that it can handle Numpy arrays.
Note: Array-like is anything that can be converted to a Numpy array.

**Problem** is *line 261* in

[2019-06-28 18:54] janmotl commented on #196
Thank you for the bug report. The described breaking point is already fixed in the master branch. Nevertheless, `inverse_transform()` still fails on Numpy ndarray.

Facts:
1. The encoders support encoding of multiple features at once.
2.`inverse_transform()` must know which columns in the encoded data belong together (i.e.: which columns in the encoded data make a single categorical feature in the

[2019-06-28 20:49] Tallic commented on #196
Sounds reasonable.

Maybe as **context**, we use a separate feature description mechanism to handle the madness of changing features across libraries their models and transformations.
A FeatureDescriptor memorizes input and output features by id (column names) and position (indexes). The order of features is fixed and computed by the descriptor.
It is more restrictive than your name based approach

[2019-06-28 20:49] Tallic commented on #196
A **workaround** for this issues is given by the listing below
[code]

[2019-06-29 14:59] janmotl commented on #196
Nice. Fixed in https://github.com/scikit-learn-contrib/categorical-encoding/commit/11d52270c1e37b5945956fb773184a0fce1384e1

[2019-06-29 16:29] #196 closed

[2019-07-08 10:05] datarian commented on #180
Actually, it is the encoders that rely on OrdinalEncoder that have the extra column. This happens because they instantiate OrdinalEncoder with `handle_missing='value'`. Will investigate this further and return with a pull request.

[2019-07-08 10:05] #180 closed

[2019-07-08 14:25] teopb opened #197 "Question: Using full binary range in hashing?"
I hope this is a reasonable place to post this question. Is there a version of hashing where the resulting hashed value could be some combination of binary columns? For example if you have 5 columns, instead of hashing into 5 options (ex: [0, 0, 1, 0, 0]) you hash into 2^5 options (could be [0, 1, 0, 1, 1]) . My intuition is this would result in fewer collisions while keeping the same dimensionali

[2019-07-08 17:44] janmotl commented on #197
The idea is good. But we don't implement any such encoder. Contributions are welcomed.

[2019-07-10 14:03] vasiliybondarenko commented on #193
Can I create PR for adding the correct unit test?

[2019-07-10 14:09] vasiliybondarenko commented on #193
[code]

[2019-07-10 18:33] janmotl commented on #193
Thank you. I updated the documentation and added a test, which exercises the example from the documentation.

[2019-07-10 20:24] vasiliybondarenko commented on #193
@janmotl if so the issue should be closed I assume to avoid redundant PRs

[2019-07-11 04:58] #193 closed

[2019-07-11 08:34] DenisVorotyntsev commented on #133
Hello. I made a benchmark of categorical encoders for several datasets and I found that double validation (i.e. KFold within train data) is a must for target-based encoders. I provided results in my [repo](https://github.com/DenisVorotyntsev/CategoricalEncodingBenchmark).

Also, you might add Double Validation as an additional class, as I made [here](https://github.com/DenisVorotyntsev/Categorical

[2019-07-11 08:41] DenisVorotyntsev commented on #179
You may use similarly encoding for multiple values categories: [paper](https://arxiv.org/abs/1806.00979), [code](https://github.com/dirty-cat/dirty_cat)

[2019-07-11 10:58] janmotl commented on #133
That looks interesting.

Just a few quick notes:
1) Beware that CatBoostEncoder is sensitive to order of samples -> consider shuffling the rows in the data preparation step.
2) Why some measurements are missing (e.g.: in Table 1.1)? Just write the reason so we know it is not an error in the reporting.
3) The report should mention the used measures (AUC).

I will have a better look at it later.

[2019-07-11 11:14] DenisVorotyntsev commented on #133
Thank you for feedback. The repo is still somewhat raw and I will add more info about versions and experiments settings later, but the results could be used already.

About the notes:
1. Good point.
2. It's not an error of the report: I just don't have enough memory to run such experiments (sparse categorical representation + big datasets). Will add a note about it.
3. Agreed, will add it.

[2019-07-12 07:39] janmotl commented on #133
It would also be interesting to explain why a single internal cross-validation improves AUC of BackwardDifferenceEncoder (surprising) when it does not improve AUC of HelmertEncoder and SumEncoder (not surprising). It must be because of the different formulation of the contrasts.

Also, I do not understand why the internal cross-validation improves AUC of OrdinalEncoder. Is it because it places rar

[2019-07-14 11:20] DenisVorotyntsev commented on #133
It might be a result of:
(1) Better hyperparameters optimization, i.e. during Single Validation, validation folds are encoded the same way as test dataset, so it becomes more similar and number of trees become optimal (at least more optimal than during None Validation); I run experiments for two datasets and number of trees in Single and None Validation was different;
(2) Bigger diversity across f

[2019-07-14 15:40] janmotl commented on #133
Notes to the referenced article:

Empty braces

What is `n`? Say in the article. And include reference.

**Questions**:
1. It looks like the encoding of "NewCategory" has the same encoding as "D" in Sum Encoding and Helmert encoding. Do you have some proposal how to do it better?
2. Shouldn't the frequencies in FrequencyEncoder be normalized by the data set size?
3. Do you have some other suggesti

[2019-07-14 15:45] janmotl opened #199 "Rank-Hot Encoder"
Implement Rank-Hot Encoder for ordinal features as described at https://scottclowe.com/2016-03-05-rank-hot-encoder/

[2019-07-14 17:01] DenisVorotyntsev commented on #133
Corrected.

It was introduced in the beginning of the section.

It doesn't matter for tree-based encoders. For other cases, it should be normalized or log and then normalize.

[2019-07-15 08:33] DenisVorotyntsev opened #200 "M-Estimate Encoder"
I've noticed that formula for MEstimateEncoder contradicts the logic of mean target of category and also differ from formulas in [literature](http://helios.mm.di.uoa.gr/~rouvas/ssi/sigkdd/sigkdd.vol3.1/barreca.pdf):

[m_estimate.py](https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/category_encoders/m_estimate.py), line 256

`estimate = (stats['sum'] + prior * self.m) / (sel

[2019-07-16 19:30] janmotl commented on #200
Fixed in https://github.com/scikit-learn-contrib/categorical-encoding/commit/fbadfda262e05d412bac15f553f085f5afd07a69. Thank you for reporting the bug.

Possibly. I used the name given to equation 7 in _A preprocessing scheme for high-cardinality categorical attributes in classification and prediction problems_. The equation 7 itself is from [On estimating probabilities in tree pruning](https://li

[2019-07-16 20:32] alexjwang opened #201 "Helmert Encoding generating additional columns"
In [this guide](https://www.kaggle.com/discdiver/category-encoders-examples/notebook#Contrast-Encoders) for categorical encoding, it has the following example:

[code]

The intended output should be:
[code]

Instead, I'm getting:
[code]

Any explanation as to why this is happening would be greatly appreciated.

I'm noticing strange behavior with SumEncoder as well.

[2019-07-17 08:05] DenisVorotyntsev commented on #200
You've already committed the right version of m-estimate :)

[2019-07-17 09:31] janmotl commented on #200
Good. Closing the issue.

[2019-07-17 09:31] #200 closed

[2019-07-17 17:48] janmotl commented on #201
This deserves some inspection. In the mean time, consider using `drop_invariant=True`.

[2019-07-17 18:15] alexjwang commented on #201
`drop_invariant=True` doesn't change the output.

[2019-07-17 18:17] alexjwang commented on #201
`drop_invariant=True` does not appear to fix the issue.

[2019-07-23 09:21] DenisVorotyntsev commented on #201
Helmert Encoding is a regression encoder, similar to OHE. Check [my post](https://towardsdatascience.com/benchmarking-categorical-encoders-9c322bd77ee8) on formulas behind encoders.

[2019-07-26 20:49] janmotl commented on #199
Example: https://github.com/kmedian/thermoencoder

[2019-08-01 21:42] mdalvi opened #202 "Broken inverse_transform for OrdinalEncoder when custom mapping in use!"
I wanted a start with index 0 instead of 1 hence, custom mapping using enumerate,

[code]

While doing inverse_transform I got below,

`oe.inverse_transform(df[categoricals])`
[code]

How do we handle this error?

[2019-08-05 06:39] ShahinDerakht commented on #188
Installing the package through conda-forge for conda (based on python 3.6)  broken anaconda permanently ,
investigating the issue reveals that it automatically update python from 3.6 to 3.7 and not all conda/anaconda requirements installation / linking/ setups done completely , so anaconda stop working forever copying / relinking does not fixed the issue and it requires completed anaconda installa

[2019-08-05 06:42] ShahinDerakht opened #203 "Installation on conda/anaconda will broke the anaconda permanently"
Installing the package through conda-forge for conda (based on python 3.6) broken anaconda permanently ,
investigating the issue reveals that it automatically update python from 3.6 to 3.7 and not all conda/anaconda requirements installation / linking/ setups done completely , so anaconda stop working forever copying / relinking does not fixed the issue and it requires completed anaconda installat

[2019-08-05 09:53] janmotl commented on #202
Yes, that's a bug. The inverse expects the mapping to be a Series but is a map. Hence, the workaround is to use something like:
[code]

[2019-08-05 10:03] janmotl commented on #203
@ShahinDerakht, do you know where conda fails in the update?

@bollwyvl, could this be related to https://github.com/scikit-learn-contrib/categorical-encoding/pull/183/commits?

[2019-08-05 10:36] ShahinDerakht commented on #203
@bollwyvl thanks for the prompt reply.

The issue which I faced is I have to clean install of conda , in  my case all links refer to python 3.7 , but not all conda requirements copied / installed on python 3.7 and are in python 3.6 . For instance in
<username>/anaconda3/lib/python3.7/site-packages neither required directories exist no suitable link.

I even manually copy all directories ( just for

[2019-08-05 11:00] bollwyvl commented on #203
Feel free to open this issue over on the feedstock... A minimum reproducing
environment, error log and and OS info would go a long way to helping
diagnose the problem.

On Mon, Aug 5, 2019, 06:36 ShahinDerakht <notifications@github.com> wrote:

[2019-08-05 12:10] ShahinDerakht commented on #203
@bollwyvl thanks again.

By fresh installation of new "anaconda" which is already based on python 3.7 and then installing category_encoders via "conda" the problem has been resolved .

( Fresh installation after renaming previous anaconda home)

I am not sure weather the problem is  with "Anaconda" or the "category_encoders" .

The environment which work properly :
OS : Ubuntu 17.10
Python : 3.7
A

[2019-08-06 01:36] bollwyvl commented on #203
Glad it worked out! Unfortunately, there are a great number of differences and unknowns between the two cases you just described (conda, python, etc), on an OS that can't really be installed and updated from supported packages (need to at least install `bzip` for the older distribution!). This makes it really hard to reproduce, so I'm not sure of how much more help we can be!

[2019-08-06 11:09] ShahinDerakht commented on #203
Thanks for the reply.

Surely having different virtual / separated  python /conda environment for different purpose could avoid fresh re-installation , though the environment could be more complicated for management
and maintenance .

[2019-08-12 15:05] Sandy4321 opened #205 "your algorithm for categorical values calculation algorithm is mistaken"
as catboost team state here
https://github.com/catboost/catboost/issues/948
http://contrib.scikit-learn.org/categorical-encoding/catboost.html
your algorithm for categorical values calculation algorithm is mistaken
you can use catboost code to understand what algorithms is and how to fix mistakes

[2019-08-14 08:44] MartykQ opened #206 "TargetEncoder inside ColumnTransformer"
I am having some problems with using TaregetEncoder inside of sciki's ColumnTransformer. I saw people having simmiliar issues with using Pipelines/ColumnTranformer but have not found any solution.

[code]

Above code gives me:

[code]

[2019-08-14 09:11] MartykQ commented on #206
I've found my mistake. I have not defined y inside ColumnTransformer fit_transform method

For everyone having issues with that one, here is my code snippet

[code]

[2019-08-14 09:11] #206 closed

[2019-08-14 17:20] janmotl commented on #206
Thank you. I have put the example into  `categorical-encoding/examples/column_transformer_example.py` and added an error message https://github.com/scikit-learn-contrib/categorical-encoding/commit/d9e80c08aa0343356545408d0df6310be3f6307e.

[2019-08-17 10:05] janmotl commented on #205
Can you provide an example where the output is wrong and how it should look like?

This example seems to pass:
[code]

[2019-08-18 14:23] Sandy4321 commented on #205
It is the point, I gave you example how mistaken it is. Very detailed example with pictures with calculations and you confessed it is mistaken

[2019-08-19 09:39] janmotl commented on #205
Can you, please, provide a unit test? I.e.: code where the current implementation fails and which also contains the desired output?

Why do I ask: I followed the links but I always get lost. @annaveronika says that there is an error in our code and I trust her. She also says that their documentation is correct. But the result that I am getting from CatBoostEncoder seems to match their documentatio

[2019-08-19 15:04] Sandy4321 commented on #205
my guess @annaveronika talking about conceptual mistakes in you algorithm , but not  in code
"She also says that their documentation is correct."
no, I showed  her that catboost documentation is mistaken, at first she agreed and then she refuses  that her  documentation is mistaken. You can see on my prove in this link
https://github.com/catboost/catboost/issues/836
just review images with calcula

[2019-08-20 17:24] wdm0006 commented on #189
Hey, sorry for the delay, will take a look at this when I get a chance.

[2019-08-21 12:08] janmotl commented on #205
I have read thru [CatBoost: unbiased boosting with categorical features](https://arxiv.org/abs/1706.09516) and I still do not see the issue. Sure, our code internally uses method names from LOOEncoder (that's not nice). And our `a` from equation 5 is fixed to `1` why they have it as a parameter.

I watched the video. I was not able to reproduce the results from what we can see at 35:03.

The calcu

[2019-08-22 06:44] goerch opened #207 "ImportError: cannot import name 'map' from 'pandas.compat'"
The code

[code]

generates the traceback

[code]

Seems pandas-compat is a missing dependency.

[2019-08-22 07:00] goerch commented on #207
Sorry, had a broken conda setup.

[2019-08-22 07:00] #207 closed

[2019-08-31 18:04] yakzan opened #208 "Ordinal encoder leaves previously unseen values as they are during 'transform'"
`fit_transform `works well, but once new values start coming up, the OrdinalEncoder just leaves them as they, not replacing them either with -1 or -2, regardless of the `handle_unkown` option is `error `or `value`.

The documentation gives the impression that also those brand new values will be encoded as -1 or -2, depending on the parameter choice.

[2019-09-01 19:50] janmotl commented on #208
Nice catch. Currently it works as advertised only for strings.

[2019-09-02 17:56] pratik-poudel opened #209 "CatBoostEncoder Transform method on validation data still showing missing values"
After applying fit_transform() on train data and transform() on test data there is no missing values in  train data but still missing values in test data.

[2019-09-03 06:43] janmotl commented on #208
Btw., isn't it enough to just use `cols` argument to tell the encoder to encode even the numerical column?

[code]

[2019-09-03 06:51] janmotl commented on #209
Can you provide some example code? Something like:

[code]
?

[2019-09-03 13:34] pratik-poudel commented on #209
fit_transform on a data frame having both categorical as well as numerical feature results is replacing all numeric columns missing values filled with -999 and doses not have any missing values on the train set.

`from category_encoders import  CatBoostEncoder`
`permutations = np.random.permutation(len(X_train))`
`predictors = X_train.iloc[permutations]`
`target = y_train.iloc[permutations]`
`cat_

[2019-09-04 13:00] janmotl commented on #209
I see. It should be fixed now in the master branch.

[2019-09-04 13:02] janmotl commented on #205
Fixed the method names and turned `a` into a parameter in https://github.com/scikit-learn-contrib/categorical-encoding/commit/25accdc9b5b1998ae317e2bcd120464a7b1027bf.

[2019-09-04 13:02] #205 closed

[2019-09-19 21:33] apsears opened #210 "Slow HashingEncoder?"
I was surprised to find that HashingEncoder is 500x slower than the rest of my transformation pipeline.  Is this just somehow a rare application, can you see how I'm doing something wrong, or am I using the wrong tool for the job?  I would like to embed col1 into into a featn-dimensional space, without having the whole dictionary at the time of fitting.

[code]

[2019-09-20 08:19] pouyana opened #211 "Documentation is outdated"
Hi,

the documentation in https://contrib.scikit-learn.org/categorical-encoding/ordinal.html is outdated.

There, the mapping is defined as:

[code]

but in the code https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/category_encoders/ordinal.py#L35 it is defined as:

[code]

could you please update it to reflect this change.

[2019-09-21 09:05] rohitgr7 opened #212 "HelmertEncoder handle_missing default is 'indicator'."
Hi,

In the [documentation](https://contrib.scikit-learn.org/categorical-encoding/helmert.html) default value for `handle_missing` and `handle_unknown` is `value`.

But in the [code](https://github.com/scikit-learn-contrib/categorical-encoding/blob/25accdc9b5b1998ae317e2bcd120464a7b1027bf/category_encoders/helmert.py#L88), it is `indicator`.

[2019-09-21 11:57] janmotl commented on #210
Yes, HashingEncoder is slow. The current version in the master branch has a support for parallelism:
[code]

[2019-09-21 16:49] janmotl commented on #212
I propose to change the default behaviour in code to `value` because that's the default behavior of the related encoders like SumEncoder, PolynomialEncoder, BackwardDifferenceEncoder and OneHotEncoder. Are you ok with that?

[2019-09-21 16:51] janmotl commented on #211
Thank you. We will update it at the next opportunity.

[2019-09-21 23:26] rohitgr7 commented on #212
Ok. Should I change it in my code while creating the instance of `HelmertEncoder` or do a PR too??

[2019-09-22 05:56] janmotl commented on #212
I fixed it in the master branch. Thank you for the report.

[2019-09-22 05:56] #212 closed

[2019-09-27 21:56] carvalhomb opened #213 "OneHotEncoder with option handle_missing='error' throws "ValueError: The truth value of a Series is ambiguous" when there is more than one categorical column"
When trying to use OneHotEncoder with handle_missing="error", I get the following exception: "ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all()." This seems to happen only if there is more than one categorical column being encoded.

Minimal example to recreate the problem:

[code]

It seems to me that the problem is in category_encoders\one_h

[2019-09-28 06:17] #213 closed

[2019-09-28 06:22] janmotl commented on #213
Thank you for a nice bug report.

The bug was present in the other encoders as well. But it is now fixed in the master branch.

[2019-09-28 15:25] 1vecera opened #214 "Upgrade dependencies to work with Pandas 25"
Dear Developers, thanks for this great package.
The issue I ran into:

Running conda install category_encoders gets me version 1.25. (Conda forge is my highest priority channel)
conda install category_encoders=2.0 forces 2 years old pandas package.
[code]

Both on Windows Server 2012 and CentOs 7.

[2019-09-29 15:03] apsears commented on #210
Ah, thanks.  Was helpful to read through this library, I ended up using a pipeline-compatible version of get_dummies, [DummyEncoder](https://gist.github.com/patrickmlong/be2ab27ad8d1d1d1e17c24015cffaea2) for my embedding application

[2019-09-29 15:03] #210 closed

[2019-10-01 05:50] Rishoban commented on #199
Hi, Can i work on this enhancement??

[2019-10-01 08:38] janmotl commented on #199
Go ahead.

[2019-10-01 15:37] janmotl commented on #214
I have released a new version [2.1](https://pypi.org/project/category-encoders/2.1.0/), which is compatible with Pandas 0.24 and 0.25.

It may take a while until it bubbles into conda-forge.

[2019-10-01 15:37] janmotl commented on #211
Updated

[2019-10-01 15:37] #211 closed

[2019-10-02 12:55] 1vecera commented on #214
Thank you for your answer and the great package! Happy to even learn that main contributer is Czech. ❤

[2019-10-02 12:55] #214 closed

[2019-10-09 10:22] xKHUNx opened #215 "HashingEncoder doesn't transform the data"
I'm trying to see the output of using HashingEncoder, and I've used the original sample code from the documentation, and I don't see any differences between the transformed and non-transformed dataframe. I suspect the columns are treated as numerical features, so I've added my own categorical column (US state code) and try to transform it.

Yet again, the output is same as the input. I've even tri

[2019-10-09 12:22] janmotl commented on #215
This is interesting. When I run the above code, I am getting:
[code]
The `cat` column is converted into `col_` columns as expected.

Which version of categorical-encoding, pandas and python do you use? Does the issue replicate when you upgrade/downgrade categorical-encoding package?

[2019-10-10 02:06] xKHUNx commented on #215
I'm unable to find the version history to try upgrade and downgrading this package. But here's all my relevant package versions:

[code]

My Python version:
`Python 3.7.4`

[2019-10-10 09:18] janmotl commented on #215
I use the same versions as you.

If you are using pip, then it should be possible to downgrade with:
`
pip install category_encoders==2.0.0
`

If downgrade does not help: Clone the repository from Github and execute all tests in category_encoders/tests. If HashingEncoder doesn't encode categorical columns, `test_classification` in `test_encoders.py` should fail. But if more tests fail, it could be

[2019-10-10 10:23] xKHUNx commented on #215
Downgrading to using `category_encoders==2.0.0` works for me. Should I close this issue?

[2019-10-11 02:48] xKHUNx commented on #215
Upgraded back to `category_encoders==2.1.0`

`print(multiprocessing.cpu_count())` returns 12, which is expected behaviour as I have a 12 core CPU.

For these cases:
`enc = HashingEncoder(cols=['cat']).fit(X, y)`
`enc = HashingEncoder(cols=['cat'], max_process=2).fit(X, y)`
`enc = HashingEncoder(cols=['cat'], max_process=3).fit(X, y)`

The output is:
[code]

Only when `max_process=1`, ie:
`enc = Ha

[2019-10-11 12:47] janmotl commented on #215
@SLLiu96 Can you help investigate the issue?

[2019-10-11 12:54] SLLiu96 commented on #215
@janmotl @xKHUNx

I'm sorry this happened, it might be caused by the data concat, I'm working on it.

[2019-10-11 12:55] janmotl commented on #215
@SLLiu96 Thank you.

[2019-10-11 13:38] SLLiu96 commented on #215
@janmotl @xKHUNx

Hi! I found that the code running here performance just as the expected, I got this output below:

`
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 21 columns):
col_0      506 non-null int64
col_1      506 non-null int64
col_2      506 non-null int64
col_3      506 non-null int64
col_4      506 non-null int64
col_5      506 non-null in

[2019-10-11 13:38] janmotl opened #216 "Speed up HashingEncoder with util.hash_pandas_object"
Extend HashingEncoder to work with `util.hash_pandas_object` as the hashing function.

**Reasoning**: Currently, HashingEncoder relies on hashlib. Hashlib is nice, however:
1. hashlib works only value by value -> no vectorization
2. md5, which is the default hashing function, is possibly an overkill

On the other end, pandas vectorizes the hashing and it uses relatively simple hashing function, wh

[2019-10-11 13:56] SLLiu96 commented on #215
Here I reran the demo with encoding each columns, 2 columns, ......, even all the columns, all of them output the expected. I'm now wondering is this issue related with system platform? like multiprocessing between linux/macos and win?

[2019-10-14 02:30] xKHUNx commented on #215
@SLLiu96
Reinstalled category encoder with `category_encoders==2.1.0` .

Now fitting the encoder with anything other than with `max_process=1`
i.e. enc = `HashingEncoder(cols=['cat'], max_process=1).fit(X, y)` and I will get this error.

[code]
BTW, I'm using a PC with Windows 10 Home Single Language.

[2019-10-14 02:44] SLLiu96 commented on #215
@xKHUNx
Does this error still appear when using max_process(>1) or without this parameter?

This is strange that everything goes well in my laptop either in win10 or mac.

This error seems the HashingEncoder doesn't contain the multi-processing, could you please ctrl + click the HashingEncoder and see if there are parameters 'max_process' and 'max_sample' in the construct function?

[2019-10-14 03:05] xKHUNx commented on #215
@SLLiu96

Using Jupyter Notebook shift + tab, I get this from the import statement:
![image](https://user-images.githubusercontent.com/10325191/66727445-d859f500-ee71-11e9-9dce-8044ea9aae2a.png)

No, only `enc = HashingEncoder(cols=['cat'], max_process=1).fit(X, y)` works.

I would like to add that the error message probably appears when I first reported this issue, but I overlooked it as the mess

[2019-10-14 03:23] SLLiu96 commented on #215
@xKHUNx

I may consider that error shows up most probably in jupyter notebook, still be an issue if it does, and i'm trying again in jupyter notebook.

And yes, I'm from China, I thought maybe it's more efficient if using QQ or WeChat 2333.

[2019-10-14 03:45] SLLiu96 commented on #215
![1](https://user-images.githubusercontent.com/38213534/66728466-b2cfea00-ee77-11e9-8fc3-863fd1d4f01e.jpg)
![2](https://user-images.githubusercontent.com/38213534/66728467-b2cfea00-ee77-11e9-9471-092b685281de.jpg)

Things getting weird now, still can't replicate it in jupyter. Tips: using parameter 'verbose=5' can output work detail of each process. Seems no error here.

[2019-10-14 05:54] xKHUNx commented on #215
I suspect the problem lies in this few line of codes in [here](https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/category_encoders/hashing.py).
![image](https://user-images.githubusercontent.com/10325191/66729526-93888b00-ee7e-11e9-90b1-6f5ef15c1bc4.png)

And based on the error I've posted earlier, it could be that the child process is trying to access the private methods (`

[2019-10-14 06:30] SLLiu96 commented on #215
@xKHUNx

The access to `__require_data` is fine, this only prevent from `enc = HashingEncoder` and then `enc.__require_data()`.

``multiprocessing `` is from python group, not much related with this issue.

Could you please set verbose=5 and replicate the error again, and if could, post all your code and output?

[2019-10-16 02:39] xKHUNx commented on #215
I've used the test case I've provided from the first issue. The result is the same as mentioned [here](https://github.com/scikit-learn-contrib/categorical-encoding/issues/215#issuecomment-540877429). But I will put here again for clarity.

Case #1 - **max_process** is set to 1.
[code]
Output:
[code]

Case #2 - **max_process** is set to any number other than 1, or not provided with a value.
[code]

[2019-10-16 08:45] SLLiu96 commented on #215
@xKHUNx

Doesn't ``verbose=5``  make any more output ?

[2019-10-16 22:26] Nathan-Furnal opened #217 "[Feature request] Benchmark of encoding strategies for different tasks"
I know that I'm asking for a lot here but it'd be great to have some idea of what encoding strategies are useful in some cases : classification vs regression or when it's completely useless.

Basically some benchmarks and heuristics and a possible reason why some encoders work in some cases and others not.

I don't have the expertise at all but I think it'd be awesome to have something along those

[2019-10-23 20:14] bruinAlex commented on #215
Having the exact same issue running the example code on the boston dataset. Here's what I've tried so far based on the discussions above, and which seems to have the same results as the topic author.

- OS : Win10
- cpu_count = 8
- Python: 3.7.0
- category-encoders: 2.1.0
- pandas: 0.25.1
- numpy: 1.17.2
- scipy: 1.3.1
- Not using Conda
- Running from inside virtualenv
- Downgrading to category-en

[2019-10-24 01:32] SLLiu96 commented on #215
@bruinAlex

Could you please use the parameter ``verbose=5`` and post your output here?

[2019-10-24 03:17] SLLiu96 commented on #215
@xKHUNx @bruinAlex @janmotl

FINALLY, I've located the error, it's been caused because in some case, multiprocessing can't call the private method ``__require_data()``, but this issue only occurs in Windows and without IDE.

It would be fixed soon, might be in this weekends. Once done I'll at you, and sorry about this issue, for temporary, downgrade category_encoders to 2.0.0 or use ``max_process=

[2019-10-24 10:05] SLLiu96 commented on #215
@xKHUNx @bruinAlex @janmotl

Bug fixed by turning ``__require_data()`` into static ``require_data``.

I've found an explanation of issues in windows from python.org [HERE](https://docs.python.org/2/library/multiprocessing.html?highlight=process#windows).

Also, as far as I know, Windows implements multiprocessing in a different way to linux/unix (WORSE supported in WIN). It brings ANOTHER ISSUE th

[2019-10-24 10:14] janmotl commented on #215
@SLLiu96  We may consider setting `max_process=1` as the default value.

[2019-10-24 10:17] SLLiu96 commented on #215
@janmotl

OK. Maybe we should add an explanation in doc.

Should I PR now?

[2019-10-24 12:44] janmotl commented on #215
@SLLiu96

I am OK with that. Document it and make the PR.

[2019-11-22 13:29] alexandersmedley opened #223 "OneHotEncoder creates extra column when handle_missing = 'error'"
I am using the OneHotEncoder like this :
[code]
Using handle_missing = 'error' generates for each categorical variable an additional column 'variable_-2' the same way handle_missing = 'indicator' does.

There is no missing value in the df I am encoding, so the 'error' option doesn't activate an error. The additional column is full of zeros for all the categorical variables.

The documentation ment

[2019-11-23 12:03] janmotl commented on #223
This appears to be an undesired behaviour.

[2019-12-01 15:04] GuillaumeDesforges opened #225 "Test fails"
I am packaging this Python package on nixpkgs.

When running test, I ran into:
[code]

I think that the path given to `open` (or similar) is not an absolute path to the test file.

[2019-12-01 18:20] janmotl commented on #225
Thank you. I got the same error when I executed the examples in `examples` directory. And we will have to fix it.

Nevertheless, the issue affects only the examples. The tests (present only in `category_encoders\tests`) should work fine.

[2019-12-06 18:33] DelgadoPanadero opened #226 "Circular categories encoding"
Hi! I came up here searching about how to encode categorical variables which have a circular distance relation (such as the days of the week, where the last day, sunday, is very close to the firstone, monday) preversing this characteristic.

I think that none of the encodings of this package support this bahaviour. Am i right? If this is true I have some ideas about how to implement this idea. If

[2019-12-06 19:40] janmotl commented on #226
Hi. I am curious to see what do you propose.

[2019-12-09 18:15] mglowacki100 opened #227 "Transformers for continous data"
Hi
I know that library is focused on categorical-encoding, but I think there is a value in adding at least `StandardScaler` and `MinMaxScaler`, with such nice interface like we have in `one_hot` for dealing with `NaNs` and to have `get_feature_names`.
What do you think about it?

[2019-12-10 09:08] janmotl commented on #227
@wdm0006 ?

[2019-12-10 20:47] wdm0006 commented on #227
At first glance I'd say no that probably is out of scope for this library (but seems like a good idea in general). The universe of continuous value transformations is quite large and adding that into scope here would be quite a big addition.

[2019-12-12 06:41] mglowacki100 commented on #227
Yes, there are a lot of continous transformers, but they are quite similar regarding input/output format at least for scalers. I think the easiest way to implement it is to wrap-up scikit-learn continous transformers. Basically, we need to handle missing/unknown values to use it. Additionally: invariants and feature names. Probably this functionality could be common even for categorical encoders.

[2019-12-18 07:15] dehiker commented on #184
@janmotl  I got a similar problem with GridSearchCV. Here is my demo code:
[code]

[2019-12-18 08:44] janmotl commented on #184
Thank you, @dehiker, for the provided example. The issue is incompatibility of category-encoders with scikit-learn=0.22 (version 0.21.3 works fine). And it's a bug.

[2019-12-21 03:05] santosh-b opened #228 "OrdinalEncoder mapping"
Why does the mapping parameter in the OrdinalEncoder require me to specify a column? I want to be able use a mapping dictionary to OrdinalEncode multiple columns at once, but because I'm only able to specify a column, and only 1 column, I'm not able to do this.

This is what i'm talking about:
[code]
I don't want to have to specify a single feature name, but it looks like if I use the mapping para

[2019-12-21 08:49] janmotl commented on #228
There are two things.

Internally, categorical encoders use indexing based on column names and not based on position index. Historically, it was making sense, because some encoders encode a single column into multiple columns. And columns names were helping to keep track of what's going on.

It is possible to provide mapping for multiple columns at once:
[code]
If you are passing a numpy array, th

[2019-12-21 08:53] santosh-b commented on #228
Ah, that makes total sense. The docs were a bit hard to read regarding being able to use multiple dicts to map to multiple columns, but that's probably just me. Thanks

[2019-12-21 08:53] #228 closed

[2019-12-22 15:45] DelgadoPanadero commented on #226
I think that may be different solutions according to the problem that you are tackling. For, instance, in the case of the days of the week that I have mentioned before, mostly everyone will use a integer variable from 1 to 7 to encode these days as a  number:
[code]
In my opinion, a better aproach could  be to use two  variables rather than only only wich represent the x and y as follows:
[code]
W

[2019-12-23 12:04] janmotl commented on #226
I was testing this transformation in the past with different models. And it never lead to an improvement. From that time, whenever I have cyclical features and feel the need to preserve the circularity, I just use distance-based models with a distance, which respects the circularity.

For a non-exhaustive critique of this transformation, see the comment from T. Bush at https://ianlondon.github.io/

[2019-12-29 04:57] Casyfill commented on #184
Hm, I am having
- sklearn 0.21.3
- categorical-encoding 2.1.0,

and still got the same error. In my case, TE is part of a ColumnTransformer. Below is part of my code (not reproducible, but hopefully will help:

[code]

Getting the below error:
[code]

[2019-12-29 04:58] Casyfill commented on #184
Will provide minimal example, if needed

[2020-01-03 14:46] janmotl commented on #184
@Casyfill, can you provide the minimal example? I did not manage to reproduce the error from the snippet.

[2020-01-03 21:09] Casyfill commented on #184
Here is an example.

https://gist.github.com/Casyfill/0462fdf696774fab7999b4b633373fb7

[2020-01-04 10:51] janmotl commented on #184
The issue is that `scipy.stats.uniform(loc=0, scale=3)` produces `float64` (Numpy type) but in the constructor it gets implicitly converted to `float` (Python type). Since we have different types, `param1 is not param2` in `sklearn.base.clone` gets evaluated as `True` and we get the error.

Poor man's workaround: Use a prearranged list of floats like `[0., 1., 2.]` instead of `scipy.stats.uniform(

[2020-01-07 14:02] djrscally opened #229 "OrdinalEncoder fails when the input is entirely numeric or can be converted to numeric values"
**Summary**

`OrdinalEncoder.fit()` throws an exception when the input values are entirely numeric (I.E. `[1, 2, 3, 4, 5]`) or can be converted to be numeric (I.E. `['001', '002', '003', '004', '005']`, or even worse strings containing whitespace like `[' 01  ', ' 02  ', ' 03  ']`).

**Version of category_encoders**
2.1.0

**Reproducible code**
[code]

**Expected Outcome**

The encoder is fit and

[2020-01-07 15:11] djrscally commented on #229
So this happens because on the call to `.fit()`, the array is passed to `utils.convert_input()`, which converts all such columns to be numeric:

[code]

Then runs `utils.get_obj_cols()` which now returns an empty list, because there are no longer any Object columns due that silent conversion. When the call to `X_temp = self.transform(X, override_return_df=True)` is made it therefore trips this con

[2020-01-07 16:41] zachmayer opened #230 "OneHotEncoder(sparse=True)"
[sklearn.preprocessing.OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html has the option `sparse=True`, to return the output in a scipy.sparse matrix.  This can be really useful if you have categories with high cardinality.

Would it be possible to add a `sparse=True` option to `category_encoders.one_hot.OneHotEncoder`?

[2020-01-07 19:25] janmotl commented on #230
This is a valid feature request. Commits are welcomed.

[2020-01-07 19:31] zachmayer commented on #230
Awesome, thanks.  I'll take a look at the code, and if I can easily implement it on my own, I'll take a stab at it.

[2020-01-08 10:06] janmotl commented on #229
Nice bug report. I removed the silent conversion. All the current tests + some new tests seem to work fine.

Do you have a code where the removal of the silent conversion would change the behaviour? I didn't find anything.

[2020-01-08 12:04] djrscally commented on #229
I think so yeah. So for example an array containing numeric data formatted as string that is **not intended** to be encoded as categories. Under the current behaviour, this is basically just converted to numbers, which will work fine:

[code]

So say the first column is categorical, and that's the column the user intends to encode. The second is numeric data, and the user does **not** intend to en

[2020-01-09 04:27] Casyfill commented on #184
Thanks for the help!

On Sat, Jan 4, 2020 at 5:51 AM Jan Motl <notifications@github.com> wrote:

--
Philipp Kats,
data journalism, analysis and visualization

philipp-kats.squarespace.com <http://cargocollective.com/Cityfish/>

email: casyfill@gmail.com
cellphone: +7(916)438 68 04

[2020-01-10 15:04] #184 closed

[2020-01-13 10:48] janmotl commented on #229
I get it now.

I think it deserves a warning in the release notes like:

If you want a warning in the code, propose the code (with a description how to silent it).

[2020-01-13 11:46] djrscally commented on #229
Sure, I can do that. I'll probably reference sklearn's ChangedBehaviorWarning from [sklearn.exceptions](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/exceptions.py), unless you'd rather I don't do that.

I'll make the warning message be something like:

[2020-01-13 12:04] janmotl commented on #229
Sounds good to me.

[2020-01-28 07:30] Anjum48 opened #231 "Which encoders require nested CV?"
Hi guys - thanks for a great package. There are a lot of encoders I am unfamiliar with and I'm still working through the references.

For normal target encoding, it's good practice nested CV folds to prevent target leakage. I was trying to figure out which other encoders will require nested CV. Is it safe to assume that when I see

`fit(self, X, y, **kwargs)`

instead of

`fit(self, X, y=None, **k

[2020-01-28 13:45] janmotl commented on #231
The list is correct. I have updated the readme.md to separate supervised methods from the unsupervised methods. Also, beware that LeaveOneOut already performs nested CV. But remainder of the supervised does not perform the nested CV.

You may consider writing and submitting a wrapper for nested CV, just like we already have a wrapper for multi-class problems in `category_encoders/wrapper.py`.

[2020-01-28 14:06] Anjum48 commented on #231
Thanks for the quick reply! I've not written a wrapper before, but it sounds like a great idea and I'll report back if I can get one to work

[2020-01-30 14:42] grialx opened #232 "BinaryEncoder doesn't work together with cross_val_predict from sklearn"
Versions
sklearn:  '0.22.1'
category_encoders: 2.1.0

Issue - if I use a fitted BinaryEncoder instance in a custom classifier, there is a ValueError
"ValueError: Must train encoder before it can be used to transform data."
Important is, that I do not want to fit the encoder again and again. It should be fitted once at the beginning on the whole dataset.

Minimal example:

[code]

The whole error m

[2020-01-30 16:20] janmotl commented on #232
Thank you for the report with the reproducible example.

The issue is related to the cloning in scikit: variables with an underscore at the beginning like `_dim` are not cloned. Unfortunately, it is not sufficient to just move away from the prefix to the suffix notation (e.g.: `_dim` -> `dim_`)... It requires further investigation.

[2020-02-12 00:11] Sandy4321 opened #234 "do not ignore unknown categories : known problem in scikit learn for OrdinalEncoder"
do you have solution for known problem in scikit learn for OrdinalEncoder
https://github.com/scikit-learn/scikit-learn/issues/13488

they do not ignore unknown categories value as OneHotEncoder does
since in real live, there are often many differences between train and data test?
as stated above by @ogrisel : Personally I find this issue really annoying

hopefully you have solution ?

[2020-02-12 10:44] janmotl commented on #234
The implemented options in OrdinalEncoder are:
[code]

So far it was enough. The encoders that build on top of OrdinalEncoder just use `'return_nan'` and use their own logic to return something sane (the keyword arguments for `'handle_unknown'`  and their meaning in the general sense are the same over all the encoders, but the details necessarily differ).

The option of `handle_unknown="treat_as_r

[2020-02-12 12:48] Sandy4321 commented on #234
The implemented options in OrdinalEncoder are:

handle_unknown: str
     options are 'error', 'return_nan' and 'value', defaults to 'value', which will impute the category -1.
So far it was enough
Great
And hopefully you have code examples
For toy data?

[2020-02-12 17:30] janmotl commented on #234
Check the test files. For example, `test_handle_unknown_have_new_value_expect_negative_1` in `test_ordinal.py`:

[code]

[2020-03-02 07:48] #234 closed

[2020-03-04 11:25] PGijsbers opened #235 "TargetEncoder produces missing values with pandas categorical data"
Using the TargetEncoder to transform data with unknown categorical values and `handle_unknown='value'` (default) can produce `NaN`-values. This happens when the input data is a pandas DataFrame with the categorical column of type "category":

[code]

When the data is passed in as dtype "object" it works as expected:

[code]

[2020-03-04 11:37] PGijsbers commented on #235
I think it has to do with how the OrdinalEncoder constructs the mapping for "category" variables.

[2020-03-04 15:32] janmotl commented on #235
I can reproduce the issue.

And this works:
[code]
A PR would be appreciated. The current treatment of the categorical type is merely something that seemed to work. But I would expect:
[code]
to also return 0.1 in the end.

OrdinalEncoder is a good place to change the behaviour.

[2020-03-05 14:59] PGijsbers commented on #235
To be clear: we would like to construct a mapping in the OrdinalEncoder based on the data (values) passed into `fit` and ignore the meta-data of the categorical dtype that specifies all known categorical values? i.e. instead of [this](https://github.com/scikit-learn-contrib/categorical-encoding/blob/4a57405d2a4646fe5aef81c8530e3e1d0f6e885f/category_encoders/ordinal.py#L324) use e.g.  `X[col].uniqu

[2020-03-06 16:52] JPFrancoia opened #237 "CountEncoder not working?"
Hi,

I'm having trouble getting the `CountEncoder` working. Calling `fit_transform` on an array-like structure doesn't seem to "do anything". Moreover the output seems slightly different compared to the output of a sklearn encoder. I think the API isn't fully compatible with sklearn, or it's a bug. Here is a snippet to reproduce the issue:

[code]

Input (`X["RAD"]` before any transformation):

[c

[2020-03-07 09:30] janmotl commented on #237
Is the issue about:

? I.e.: That numerical columns are not by default converted? We use this behaviour because the library was designed to accept DataFrames with a mix of data types. And the data type can be used as a hint about "what are the categorical columns" (to avoid the need to repeatedly write something like `columns=X.select_dtypes('object')`.

Do you have a proposal how to deal with the

[2020-03-07 15:23] janmotl commented on #235
I get it now. The usage of `X[col].unique()` seems to be to a reasonable way how to get a consistent behaviour.

[2020-03-07 15:55] JPFrancoia commented on #237
Sorry I called it "unexpected behaviour", you guys seem to have thought about it.

So you mean the input to the `fit` method could be different from the input of the fit methods for `LabelEncoder`, `OneHotEncoder` or `OrdinalEncoder` ?
Because that's what surprised me with this module. If the input to the `fit` method should be the same, then I would expect the same behaviour.

However if we know

[2020-03-07 17:11] janmotl commented on #237
The outputs of categorical-encoding and scikit can definitely be different. For example, the assigned values in OrdinalEncoder can be implementation specific (once it may follow the order of the _sorted unique values_, once it may follow the order of the _sorted hashes of the unique values_ and once it may follow the order in which the _values appeared in the input_).

OK. Will you make a pull req

[2020-03-07 17:20] JPFrancoia commented on #237
You're talking about the output, what about the input?

No problem, give me a few days.

[2020-03-08 19:19] janmotl commented on #237
The inputs for `fit()` are different:
- sklearn: `fit(self, y)`
- categorical-encoding: `fit(self, X, y, **kwargs)`

because we support supervised encoders.

But there can be deviations that are without any reason. And such deviations should be reported.

[2020-03-11 14:42] #235 closed

[2020-03-11 21:22] Venki-Kavuri opened #239 "Parallel encoding of features in woe encoding"
are you planning to implement parallel encoding of features for woe encoding ?

[2020-03-12 17:34] janmotl commented on #239
Feel free to vectorize or parallelize it as I don't have to it on my to-do list.

Btw., target encoder has some parallelization.

[2020-03-29 09:08] ws15145177388 opened #240 "How Leave-One-Out-Encoder call k-folds CV?"
The model will be obviously over-fitting after eave-One-Out-Encoder, How to set k-fold cross validation for functions?

[2020-03-29 10:10] janmotl commented on #240
You may use `NestedCVWrapper` defined in `category_encoders/wrapper.py`. This a new class. So, it is currently only in the master branch (and not in any release).

Let us know whether it needs some more work.

[2020-03-29 10:10] #240 closed

[2020-04-04 14:02] Alex-Lekov opened #241 "ValueError: The truth value of a Index is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all()."
[code]

Python 3.7.6
pandas 1.0.1

bug here:
**` if not self.cols:`**
to check for an empty list now use x.empty. (https://stackoverflow.com/questions/36921951/truth-value-of-a-series-is-ambiguous-use-a-empty-a-bool-a-item-a-any-o)
everything works fine in the old version python & pandas

[2020-04-04 16:12] janmotl commented on #241
Can you test the current branch on git? We currently use: `if not list(self.cols):`.

[2020-04-04 20:52] Alex-Lekov commented on #241
Yes, I installed the latest version and it worked OK.
Thank you and please update the version in pip

[2020-04-04 20:52] #241 closed

[2020-04-20 09:54] DSoudis opened #242 "feature request: Target Encoding via Mixed Linear Models"
Would you consider adding a target encoding functionality via Mixed Linear models?

This functionality exists in R via the `embed` package see [here](https://tidymodels.github.io/embed/articles/Applications/GLM.html) for a discussion, particularly under the "Empirical Bayesian Methods/Mixed Models"

It is quite similar to the MEstimateEncoder, but there are some advantages i can see:

1) Solid sta

[2020-04-21 21:23] janmotl commented on #242
I just pushed `MixedEncoder` to the master branch.

Please:

1. Check it for errors.
2. Check the documentation.
3. If you know how to avoid formulas, let me know - the current implementation seems to be fragile.
4. Advise what to do with convergence warnings like:
[code]

[2020-04-24 13:11] DSoudis commented on #242
That was fast!!

I did the following:
1. I reproduced part of my analysis from R and the CV results where very consistent.
I also checked results against statsmodels' module and it was fine. I would like to test this more on a few other personal datasets, but do let me know if you need any tests on open datasets for inclusion here.

2. Docstrings seem fine to me. I suppose in time you will drop un

[2020-04-24 18:42] Rcubes opened #244 "Ordinal encoder giving unexpected results for pandas Categorical"
Hi guys,
I just love categorical encoders, but working on a clustering I had a hard time detecting a bug in my code.
My data is not shareable, but I prepared a small reproducible example to show:

[code]
you'll notice a is an int64 and b is an object. If I use ordinal encoding
[code]
I get b encoded as expected 1,2,3.

Normally in pandas, I use pd.Categorical for dealing with big datasets with cat

[2020-04-25 07:32] janmotl commented on #244
Hi Alfonso. When I run it with the Categorical, I am getting:
[code]

I guess there is going to be an issue with the interaction between the specific pandas version and category_encoders. I used pandas 1.0.1 and the master branch of category_encoders from git. Can you try to reproduce the error with a different version of pandas than you currently use?  And can you test master branch of category_e

[2020-04-25 12:49] janmotl commented on #242
Thanks. I updated the code. If you find a bug, open a new issue.

[2020-04-25 12:49] #242 closed

[2020-04-26 12:58] janmotl opened #247 "New release"
Hi @wdm0006, I am handing over the management of the repository.

The repository is prepared for a new release, which is long due since the last published release doesn't work so well under Pandas 1.0.0 (the master branch works fine). I hope you will find time to manage the repository.

[2020-04-27 14:14] wdm0006 opened #248 "Seeking maintainers"
Hello all. First, thanks for checking out and participating in this project. I started it a few years ago and with the help of many got it into a pretty nice state. When I ran out of time to maintain it actively @janmotl took over the reins and built into what it is today.

Now with #247 in mind, I think it's time we grow the maintainer team and find some folks to lead category_encoders into it's

[2020-04-27 14:15] wdm0006 commented on #247
Hey @janmotl. Thanks for all the work so far. I can take a look at a release (and maybe setting up an action to handle releases in the future), I've also opened an issue to solicit maintainers as I really don't have the time to keep up with this very closely these days.

[2020-04-27 19:29] DSoudis opened #249 "Bug in GLMMEncoder?"
Although GLMMEncoder works correctly on the Boston data, it fails with a KeyError on other datasets i tried.

Example:
[code]
fails with

[code]

I found that changing line 280 in glmm.py from
[code]

to
[code]

solves my issue. Is this correct?

[2020-04-28 09:26] Galileo-Galilei opened #250 "Documentation link is broken"
Hello,

the current link to the documentation is broken (http://contrib.scikit-learn.org/category_encoders/). I cannot access directly to a specific page, the whole website seems down. Any plan to fix it soon?

Many thanks to the team (for the package and fix) !

[2020-04-28 09:27] PaulWestenthanner commented on #248
Hi Will,
I recently commited to the repo for the first time and I'd be definitely be interested in doing more.

Best Regards,
Paul

[2020-04-28 15:52] janmotl commented on #249
You are right. I updated the code and added unit tests.

Thank you for a nice bug report.

[2020-04-28 15:52] #249 closed

[2020-04-29 01:21] Rcubes commented on #244
Hi guys, I re-ran the previous example using pandas 1.0.1

With example 1 I get 1,2,3.
With example 2, meaning, transforming into categories, I get 1, -1 and  2

I think this is better, since it is encoding nan as -1,  but i wanted to check as per documentation and the package site is down.

I think encoding np.nan as -1 is reasonable, because if you call df['b'] it says there are only 2 categorie

[2020-04-29 01:40] wdm0006 commented on #250
Thanks for the heads up, fixed now:

http://contrib.scikit-learn.org/category_encoders/

[2020-04-29 01:40] #250 closed

[2020-04-29 02:13] wdm0006 commented on #247
Ok, after some minor turmoil I've moved all the CI tasks to github actions, so that others can more easily modify or add to them.

* The test suite will run in 4 versions of python on all commits to master and PRs.
* The docs will update on any push to master (we could modify this to only happen on release, I could go either way).
* Build and publication to PyPI will happen anytime a release is cr

[2020-04-29 10:47] janmotl commented on #244
The documentation page should be working again. The documentation for OrdinalEncoder says:
[code]
Hence, OrdinalEncoder may decide to assign any unique value to np.nan, till np.nan appears in the training data (and till the Categorical feature is not defined as "ordered"). In the new 2.2.2 version of category_encoders, the order is defined by `X[col].unique().tolist()` and you should not be gettin